@import "css/config";

 

.gallery.thumbnails{
	.list-item{
    	&>div{
    		margin: 5px;
    		border: 3px solid #ccc;
    		position: relative;
        	overflow: hidden;
        	padding: 0;
        	&:after{
       			content: " ";
        		display: block;
        		padding-top: 100%;       	
        	}
    		&>a{
    			display: block;
    			position: absolute;
            	top:0;
            	bottom:0;
            	left: 0;
            	right:0;
            	z-index: 1000;
            	.img{         
		            position: absolute;
		            z-index: 9;
		            top:0;
		            bottom:0;
		            left: 0;
		            right:0;
		            background-size: cover;
		            img{
		            	width: 100%;
		            }
        		}    			
    		}
    	}
    }
}


.iscroller.fullscreen-gallery-thumbnails{
	
	
	padding: 0;
	padding: 10px;
	padding-top: 0;
	
	.carousel-control{
		top: 5px;
		width: 40px;
		bottom: 5px;		
		opacity: 0.8;
		&>span{
			margin-top: -15px;
			width: 30px;
			left: 5px;
		}
		&:hover{
			opacity: 1;
			color: $site-color-hover;
		}
		&.left{
			left: -11px;
			/*
			background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.0001) 100%);
    		background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.0001) 100%);
    		background-image: linear-gradient(to right, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.0001) 100%);
    		background-repeat: repeat-x;
    		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
    		*/
		}
		&.right{
			right: -11px;
			/*background-image: -webkit-linear-gradient(left,rgba(0,0,0,.0001) 0,rgba(0,0,0,.8) 100%);
    		background-image: -o-linear-gradient(left,rgba(0,0,0,.0001) 0,rgba(0,0,0,.8) 100%);
    		background-image: -webkit-gradient(linear,left top,right top,from(rgba(0,0,0,.0001)),to(rgba(0,0,0,.8)));
    		background-image: linear-gradient(to right,rgba(0,0,0,.0001) 0,rgba(0,0,0,.8) 100%);
    		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
    		background-repeat: repeat-x;*/
		}
		
		&.left, &.right{
			.glyphicon:before, .glyphicon:after{
				font-size: 30px;
			}
		}
	}
	 
	
	.list-item{
		display: block;
		&:hover{
        	opacity: 0.8;
        }
		
    	&>div{
    		margin: 5px;
    		//border: 1px solid $site-color-gold;
    		position: relative;
        	overflow: hidden;
        	padding: 0;
        	&:after{
       			content: " ";
        		display: block;
        		padding-top: 100%;       	
        	}
        	
        	.img{         
		        position: absolute;		    
		        top:0;
		        bottom:0;
		        left: 0;
		        right:0;
		        background-size: cover;
		        img{
		          	width: 100%;
		         }
        	}
        	
    		/*&>a{
    			display: block;
    			position: absolute;
            	top:0;
            	bottom:0;
            	left: 0;
            	right:0;
            	z-index: 1000;
            	
            	    			
    		}*/
    	}
    	
    	&.active{
    		&>div{
    			border: 3px solid $site-color-gold;
    			.img{
    				margin: -3px;
    			}
    		}
    	}
    }
}


.slide-big.fullscreen-gallery{
	
	z-index: 1;
	position: relative;
	margin: 0;
	.carousel-wrapper{
		z-index: 1;
		bottom: 0px;
	}	
	@media screen and (min-width: 768px){
		&:after {
		    content: none;		    
		}
		height: 100%;
	}	
}


section.subpage.fullscreen-gallery-controls{
	
	&>div{
		//height: 173px;
	}
	
	background-color: #000;
	background-color: transparentize(#fff, .3);
	
	padding-bottom: 0;
	.page-header-wrapper{
		.title {
    		padding: 0;
    		color: #000;
    		border: none;
    		//border-bottom-width: 6px;
		}
	}
	
		.page-header.outside{
			border-bottom: 1px solid $site-color-gold;
			padding: 5px 0px;
			margin: 10px 3px;
			.page-navbar{			
				&>li:before, &>li>a{
					color: #000;
				} 
			}
		}
		
		z-index: 2;
		position: absolute;
		left: 0px;
		right: 0px;
		bottom: 10px;
		
		
		
		
		@media screen and (min-width: 768px){
		
			.title-wrapper{
				float: left;
			}
			.navbar-nav{
				float: right;
				//padding-top: 20px;
			}
		}
		
		
	div.eye{
		cursor: pointer;
		display: block;
		position: absolute;
		background: transparent;
		border: none;
		right: 20px;
		top: -53px;
		color: #fff;
		font-size: 30px;
		
		
	}		
		
}
    
  	