{% load wagtailcore_tags wagtailimages_tags  wtpages_tags %}


{% if show_page_header and 'inside' != header_style %}
<div id="top"></div>
<div class="page-header outside text-center">
 	<div class="title-wrapper">
     	<h1 class="title"><a href="{% pageurl self %}">{{ self.title }}</a></h1>
     </div>
     <ul class="nav navbar-nav page-navbar text-uppercase js-filter-wrapper social-filter list" data-filter=".js-filtered" >
     <li><a class="text-uppercase js-filter-contol" data-filter-val="all" href="#all">All</a></li>
     {% for soc in self.social_items.all %}
     {% if soc.show_in_feed %}
         <li><a class="text-uppercase js-filter-contol {{ soc.socn }}"
             data-filter-val="{{ soc.socn }}"
             href="#{{ soc.socn }}"
             title="{{ soc.social_network_name }}"></a></li>
     {% endif %}
     {% endfor %}
     </ul>                
</div>
{% endif %}


<section class="themed themed-{{self.theme.id}} subpage social-feed has-navbar {{subpage_index}}">
    <div class="container">

    {% comment %}
        <div class="body-text">
        {{ self.body|richtext }}
        </div>
    {% endcomment %}
    
    	{% if show_page_header and 'inside' == header_style %}
    	<div class="page-header outside inlinepage text-center clearfix has-subnav">
		 	<div class="title-wrapper">
		     	<h1 class="title">{{ self.title }}</h1>
		     </div>
		     <ul class="nav navbar-nav page-navbar text-uppercase js-filter-wrapper social-filter list" data-filter=".js-filtered" >
		     <li><a class="text-uppercase js-filter-contol" data-filter-val="all" href="#all">All</a></li>
		     {% for soc in self.social_items.all %}
		     {% if soc.show_in_feed %}
		         <li><a class="text-uppercase js-filter-contol {{ soc.socn }}"
		             data-filter-val="{{ soc.socn }}"
		             href="#{{ soc.socn }}"
		             title="{{ soc.social_network_name }}"></a></li>
		     {% endif %}
		     {% endfor %}
		     </ul>                
		</div>
		{% endif %}

    

        <div class="iscroller list-wrapper" {% if request.is_phone %}data-rows="1" data-cols="1" {% else %}data-rows="2" data-cols="0" {% endif %}>
        <div class="iscroller-items list hidden">
        {% for pp in self.social_content_items.all|dictsortreversed:"feed_datetime" %}
        {% if not pp.invalid %}
            <div class="iscroller-item list-item {{ pp.socn }} js-filtered" data-filtered="all {{ pp.socn }}">
            	<div>
                {% if pp.feed_image %}
                    {% image pp.feed_image fill-248x248-c100 as carouselimagedata %}
                    <div class="img">
                    	<img src="{{ carouselimagedata.url }}" style="" alt="{{ carouselimagedata.alt }}" />
                    </div>
                    <div class="img-overlay"></div>
                {% else %}
                    <div class="text-wrapper {% if pp.feed_image %}text-wrapper-hiding{% endif %} vertical-centered"><div>
                        <h4 class="text-center">{{ pp.feed_datetime }} - {{ pp.feed_text | safe }}</h4>
                    </div></div>
                {% endif %}

                {% if pp.feed_link %}<a target="_blank" href="{{ pp.feed_link }}"></a>{% endif %}
				</div>	
            </div>
        {% endif %}
        {% endfor %}
        </div>
        </div>
    
    
	</div>
</section>
