{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags wtpages_tags %}


{% block page_header %}
	<div id="top"></div>
    <div class="page-header outside text-center">
    	<div class="title-wrapper">
        	<h1 class="title"><a href="{% pageurl self %}">{{ self.title }}</a></h1>
        </div>
        <ul class="nav navbar-nav page-navbar text-uppercase js-filter-wrapper social-filter list" data-filter=".js-filtered" >
        <li><a class="text-uppercase js-filter-contol" data-filter-val="all" href="#all">All</a></li>
        {% for soc in self.social_items.all %}
        {% if soc.show_in_feed %}
            <li><a class="text-uppercase js-filter-contol {{ soc.socn }}"
                data-filter-val="{{ soc.socn }}"
                href="#{{ soc.socn }}"
                title="{{ soc.social_network_name }}"></a></li>
        {% endif %}
        {% endfor %}
        </ul>                
    </div>
{% endblock %}


{% block content %}    
    {% include "wtsocialfeed/includes/feed.html" with self=self request=request only %}
{% endblock %}
