{% load menu_tags wagtailimages_tags %}
<div class="flat-menu {{ menu_handle }} {% if menu_heading %}with_heading{% else %}no_heading{% endif %}">
    {% if menu_heading %}<h4>{{ menu_heading|safe }}</h4>{% endif %}
    {% if menu_items %}
    <ul class="nav">
        {% for item in menu_items %}
        <li class="{{ item.active_class }}">
            <a{% if item.news_window %} target="_blank"{% endif %}            
            {% if item.link_popup_form %}
            href="#"
            data-wtform="{{ item.link_popup_form.pk }}"
			class="wtform-modal-link"        	
        	{% elif item.link_document %}
        	class="view-pdf"
        	data-title="{{ item.text }}"
        	href="{{ item.link_document.file.url }}"        	        	
            {% else %} 
            href="{{ item.href }}"
            {% endif %}
            >
            {% if item.image %}
            	{% image item.image max-200x70 as carouselimagedata %}
                   	<img src="{{ carouselimagedata.url }}" alt="{{ item.text }}" />
            {% else %}
            {{ item.text }}
            {% endif %}
            </a>
            {% if item.has_children_in_menu %}{% sub_menu item %}{% endif %}
        </li>
        {% endfor %}
    </ul>
    {% endif %}
</div>
