{% load wagtailcore_tags wagtailimages_tags  wtpages_tags %}

{% if is_popup %}

  {% if not modal_only %}
  <div class="text-center">
    <a
        class="btn bordered text-uppercase btn-primary btn-lg"
        href="#"
        data-toggle="modal"
        data-target="#wt-modal-form-{{ self.id }}"
    >{{ self.name }}</a>
  </div>
  {% endif %}

  <div class="modal modal-form animate zoomIn {% if not request.is_phone %}vertical-centered{% endif %} js-move-to-body" id="wt-modal-form-{{ self.id }}" tabindex="-1" role="dialog" aria-labelledby="Modal Form {{ self.id }}">
  <div>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header modal-header-brand">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <div class="navbar-brand" data-placement="bottom"></div>
                <h3 class="modal-title text-center">{{ self.title }}</h3>
            </div>
            <div class="modal-body" >
{% endif %}

        {# COMMON PART #}
        
        
            {% if not is_popup %}
            	{% if self.title %}
		        	<h3 class="title">{{ self.title }}</h3>
			    {% endif %}
            {% endif %}

            <div class="body-text">
            {{ self.body|safe }}

            <form
            	class="wtform"
            	id="form-{{ self.id }}"            	
                action="/wtform/{{ self.id }}/"
                method="POST"                
                enctype="multipart/form-data"
            >
                {% csrf_token %}
                <div id="form-fields-container" class="form-fields-container">
                	{% include 'wtforms/form_fields.html' with form=self.get_form %}                	
                </div>
            </form>
            </div>
        
        {# END #}
{% if is_popup %}
</div></div></div></div></div>
{% endif %}
