{% extends "wagtailadmin/base.html" %}
{% load compress static staticfiles wagtailimages_tags %}

{% block extra_css %}
    {% compress css %}
        <link rel="stylesheet" href="{% static 'wagtailadmin/css/vendor/jquery-ui/jquery-ui-1.10.3.verdant.css' %}" />
        <link rel="stylesheet" href="{% static 'wagtailadmin/css/core.css' %}" type="text/css" />
        <link rel="stylesheet" href="{% static 'wtadmin/css/admin.css' %}" type="text/css" />
    {% endcompress %}
{% endblock %}

{% block branding_logo %}
    {% image settings.wtadmin.WtSettings.logo width-150 as img %}
    <img src="{{ img.url }}" alt="Admin" width="150" />
{% endblock %}
