{% extends "wagtailadmin/home.html" %}
{% load compress static staticfiles %}

{% block extra_css %}
    {% compress css %}
        <link rel="stylesheet" href="{% static 'wagtailadmin/css/layouts/home.css' %}" type="text/css" />
        <link rel="stylesheet" href="{% static 'wtadmin/css/admin.css' %}" type="text/css" />
    {% endcompress %}
{% endblock %}


{% block branding_welcome %} {{ settings.wtadmin.WtSettings.caption  }} <small>Site Control Panel</small> {% endblock %}