@import "css/config";

.menu-wrapper{
	
	position: relative;
	overflow: hidden;
	
	.menu-img{
    	position: absolute;
    	z-index: 0;
    	display: none;
	}
	.menu-img-1{
    	left: -49px;
    	top: 36px;
	}	

	.menu-img-2{
    	right: -50px;
    	top: 391px;
	}
	
	.page-header.inside{
		margin-bottom: 30px;
		border: none;
		&:after{
			content: none;
		}
		.title-wrapper>.title{			
			border: none !important;
			padding: 0px;
			.corner{
				display: none;
			}
		}
	}

	.menu-pdf a{
		color: $site-color-dark;
		&:hover, &:focus{
			color: $site-color-hover;
		}
	}

	.menu{
		//@include title_decor;
	   	.cat{
	   		 //border-top: 1px solid $site-color-dark;
	   		 &.featured{
	   		 	border: 2px solid $site-color-dark;
	   		 }
	   		
	   		.descr{
	   			font-style: italic;
	   		}
	   			   		 
	   	 	 padding:6px;
	         padding-bottom: 10px;
	         margin-bottom: 30px;
	         text-align: center;
	   		.title{	   			
	   			font-size: $header-font-size-mob;
        		@media (min-width: 768px){
            		font-size: $header-font-size;
        		}
        		color: $site-color-red;
	   			text-transform: uppercase;
	   		}
	   		.item{
	   			margin-top: 10px;
	   			margin-bottom: 20px;
	   			.name{
	   				font-size: 19px;
	   				//font-weight: bold;
	   			}
// 	   			.price{
// 	   				display: block;
// 	   			}
	   			.descr{
	   				line-height: 1;
	    			text-transform: none;
	    			font-size: 17px;
	   			}
	   		}
	   	}
	   
	   @media (max-width: 767px) {
	   		.first.column, .last.column{
	   			float: none !important;
	   			width: inherit !important;
	   		} 	
	   }
	  
	  @media (min-width: 768px) {
	   		.first.column{
	   			padding-right: 5px;
	   			padding-left: 5px;
	   		}
	   		.last.column{
	   			padding-left: 5px;
	   			padding-right: 5px;
	   		} 	
	   }
	  
	  
	   
	   
	     
	}

}