{% load wagtailcore_tags wagtailimages_tags %}



<article class="themed theme-{{ self.theme }}">
    {% if self.theme == 'white-border-bg' %}<div class="container container-border">{% endif %}

    {% for el in self.block_content %}
        {% if el.block.name == 'h1' %}<div class="container container-block block-heading"><h1>{{ el }}</h1></div>{% endif %}
        {% if el.block.name == 'h2' %}<div class="container container-block block-heading"><h2>{{ el }}</h2></div>{% endif %}
        {% if el.block.name == 'h3' %}<div class="container container-block block-heading"><h3>{{ el }}</h3></div>{% endif %}

        {% if el.block.name == 'text' %}
            <div class="container container-block block-{{ el.block.name }}">{{ el | safe }}</div>
        {% endif %}

        {% if el.block.name == 'image' %}
            {{ el }}
        {% elif el.block.name == 'images_set' %}
            {{ el }}
        {% endif %}
    {% endfor%}

    {% if self.theme == 'white-border-bg' %}</div>{% endif %}{#  class="container" #}
</article>
