{% load wagtailcore_tags wagtailimages_tags  %}

<div class="container{% if 'content-width' != self.theme %}-fluid{% endif %} container-block block-image {% if self.theme == 'original-width-centered' %}text-center{% endif %}">
    {% image self.image original as img1 %}
    <img src="{{ img1.url }}" style="height:auto; width:{{ img1.width }};" alt="{{ img1.alt }}">

    {% if self.text %}
    <div class="text position-{{ self.position | default:"top-left"}}">
    {{ self.text }}
    </div>
    {% if 'content-width' != self.theme %}<div class="container">{% endif %}
    {% if 'content-width' != self.theme %}</div>{% endif %}
    {% endif %}
</div>

