{% load wagtailcore_tags wagtailimages_tags  %}

<div class="container container-block block-images-set">
<ul>
{% for i in self %}
<li>
    {# % image i.image height-320 as img1 % #}

    {% image i.image fill-400x400-c100 as img1 %}

    {% if i.url or i.page.url %}
    <a href="{% if i.url %}{{ i.url }}{% elif i.page.url %}{{ i.page.url }}{% endif %}">
    {% endif %}
        <img src="{{ img1.url }}" style="height:auto; width:100%;" alt="{{ img1.alt }}">
    {% if i.url or i.page.url %}
    </a>
    <a class="text-thumbnail" href="{% if i.url %}{{ i.url }}{% elif i.page.url %}{{ i.page.url }}{% endif %}">
    {% endif %}
        <h3>{{ i.header }}</h3>
        <h5>{{ i.description }}</h5>
    {% if i.url or i.page.url %}
    </a>
    {% endif %}
</li>
{% endfor %}
</ul>
</div>