<div class="address">
    {% if contact.name %}<span class="name">{{ contact.name }}</span>{% endif %}
    {% if contact.address_1 %}<span class="address_1">{{ contact.address_1 }}</span>{% endif %}
    {% if contact.address_2 %}<span class="address_2">{{ contact.address_2 }}</span>{% endif %}

    {% if contact.city %} <span class="city">{{ contact.city }} </span>{% endif %}
    {% if contact.state %} <span class="state">{{ contact.state }} </span>{% endif %}
    {% if contact.zip_code %} <span class="zip">{{ contact.zip_code}} </span>{% endif %}
    
    {#% if contact.country %}<span class="country">{{ contact.country }}</span>{% endif %#}
    
    
    <span class="map">
        <a 
            data-title="{{ contact.name }}"             
            href="#"
            data-type="google-api-map"          	
            data-styles="{{ contact.map_style }}"			
   			data-latitude="{{ contact.latitude }}" 
   			data-longitude="{{ contact.longitude }}"
   			data-info="{{ contact.google_map_info }}"
            data-toggle="modal" 
            data-target="#formPopup" 
        >Get Map</a>
    </span>
    

    {% if contact.phone %}<span class="tel"><b>Tel: </b> <a href="tel:{{ contact.phone }}">{{ contact.phone }}</a></span>{% endif %}
    
    {% if contact.fax %}<span class="fax"><b>Fax:</b> {{ contact.fax }}</span>{% endif %}

    
    {% if contact.email %}
        <!-- <span class="emal"><b>Email us:</b>{#{ contact.email }#}</span> -->
        <span class="email"><a href="mailto:{{ contact.email }}">Email us</a></span>
    {% endif %}
    
    
    {% if contact.vcf_card %}
        <!-- <span class="emal"><b>Email us:</b>{#{ contact.email }#}</span> -->
        <span class="vcf-card"><a href="{{ contact.vcf_card.url }}">VCF Card</a></span>
    {% endif %}
    
    
    
</div>
