{% load wagtailcore_tags wagtailimages_tags  wtpages_tags %}


		<div class="contact-wrapper">		
			<div class="tbl">
	            <div class="txt col-md-6 contact-address text-center">
	                {% address %}
	            </div>
		         <div class="txt col-md-6 contact-hours text-center">
	                  <h3>Hours of Operation</h3>
	                {% if contact.contact_hours %}				
						{% for item in contact.contact_hours.all %}
							<div class="t">{{ item.title }}</div>
							{{ item.hours|linebreaks }}							
						{% endfor %}
					{% endif %}
	            </div>
	        </div>
        </div>
	
    
    {% if self.latitude and self.longitude %}
    
               	
            	<div class="contact-map text-center">            		
	            	<div class="embed-responsive embed-responsive-16by9 google-api-map" 
	            		data-title="{{ self.name }}" 
	            		data-info="{{ self.google_map_info }}"
	            		data-styles="{{ contact.map_style }}" 
	            		data-latitude="{{ self.latitude|safe }}" 
	            		data-longitude="{{ self.longitude|safe }}">
	               		
	               	</div>
                </div>
            	

    {% endif %}
    




