{% load wagtailcore_tags %}
<div class="contact-hours">
	<h3>Hours Of Operation</h3>
	<div class="row">	
	{% if contact.contact_hours %}
	<div class="col-xs-12">
	{% for item in contact.contact_hours.all %}
		<div class="t">{{ item.title }}</div>
		{{ item.hours|linebreaks }}
		{% comment %}		
		{% if item.column_break and not forloop.last %}
			</div><div class="col-xs-6">
		{% endif %}	
		{% endcomment %}		
	{% endfor %}
	</div>
	{% endif %}
	</div>		
</div>