@import "css/config";


section.faqpage{
	.faq-list{
		padding: 20px 0px;	
		.item{
			padding-bottom: 10px;
		}
		.question{
			line-height: 20px;			
			position: relative;
			padding-left: 30px;
			
			-webkit-transition: all .2s ease-in-out;
    		-o-transition: all .2s ease-in-out;
    		transition: all .2s ease-in-out;
			
			&:hover{
				color: $site-color-gold;
			}
			
			 
			&:before{
				position: absolute;
				display: block;
				top: 0px;
				left: 0px;
				font-size: 20px;
	    		font-family: FontAwesome;
	    		width: 30px;
	    		text-align: center;
	    		color: $site-color-gold;
			}
			&[aria-expanded="true"]{
				&:before{
					content:"\f107";
				}
			} 
			&[aria-expanded="false"]{
				&:before{
					content:"\f105";
				}
			}	
		}
		
		.answer>div{
			padding: 20px;
		}
		
	}	
	
} 

