{% load wagtailcore_tags wagtailimages_tags wtpages_tags %}

{% if self.menus %}
	
<div class="iscroller list-wrapper menu-pdf-thumbnails" data-item-min-width="250" data-item-max-width="275" data-circular="true" data-rows="1">
     <div class="iscroller-items list hidden">
     {% for item in self.menus %}
     <div class="iscroller-item list-item" >
     	<div>                            
          <a class="text-center" href="{{ item.menu.link }}">          		            
              {% image item.menu.image fill-400x400-c100 as carouselimagedata %}
              <img src="{{ carouselimagedata.url }}" alt="{{ item.menu.title }}" />
              <div class="text-uppercase name">{{ item.menu.title }}</div>
          </a>
         </div>
     </div>
     {% endfor %}
     </div>
</div>	

{% endif %}
