{% extends "base.html" %}
{% load static  wagtailcore_tags wagtailimages_tags  wtpages_tags %}

{% block carousel_main %}
	<section class="themed themed-{{ self.theme.id }} slide-big {{ self.content_type.model }}">
		{% carousel show_controls=False carousel_items=self.carousel_items.all %}
		<div class="home-brand">
			<table>
				<tr>
					<td>
						<img class="fadeInUpBig animated" src="{% static 'images/russos-on-the-bay.png' %}">
					</td>
				</tr>		
			
				{% if self.body %}	
				<tr>
					<td>
						{{self.body|richtext}}		
					</td>
				</tr>
				{% endif %}		
			
			
				{% if self.form_links.all or self.related_links.all  %}
				<tr>
					<td>
			
						{% if self.form_links.all %}
						<div class="form-links">
						{% for fr in self.form_links.all %}
						   {% include "wtforms/form.html" with self=fr.form is_popup=fr.is_popup request=request form_link=fr no_image=True only %}
						{% endfor %}
						</div>
						{% endif %}
						
						{% if self.related_links.all %}
						 	<div class="related-links text-center">
						 	{% for related_link in self.related_links.all %}
						 		<a class="btn btn-primary btn-lg text-uppercase" href="{{ related_link.link }}">{{ related_link.title }}</a>
							{% endfor %}
							</div>
						{% endif %}
			
					</td>
				</tr>
				{% endif %}
				        		
			</table>
		</div>	
	</section>
{% endblock %}

{% block section %}{% endblock %}

{% block subpages %}
	{% get_subpages_inline parent=self.home_placeholder show_page_header=True header_style='inside' %}
{% endblock %}

