@import "css/config";

@mixin contact_icon($img){
	@media (min-width: 768px){
     	position: relative;
     	display: block;
       	width: 400px;           	
       	min-height: 140px;
         	margin: 0 auto;
           	&:before{
           		content: " ";
           		display: block;
           		position: absolute;
           		left: -155px;
           		top: 0px;
           		bottom: 0px;
           		width: 155px;
           		background:{
			    	image: url(img_path($img));
			    	position: center center;
			    	repeat: no-repeat;			    	 			    			    		
		    	}
           	}           	 
        }	
}

section.subpage.contactpage{
	
	.txt{
		margin-top: 20px;		
	}
	
	
		.contact-wrapper{
			padding: 30px;
			margin:{
				top: 50px;
				bottom: 20px;
			}
			border: 2px solid $site-color-yellow;
		}

	
		.tbl{
			@media (min-width: 992px){
				display: table;
				width: 100%;
			}				 
			border:{				
				collapse: collapse;	
			}   
			
			 	
			
			&>div{
				margin: 0;
				padding: 20px;
				@media (max-width: 991px){
					margin: 0px 0;
					&.contact-address{
						&:after{
							content: " ";
           					display: block;
           					padding-top: 40px;
           					border-bottom: 2px solid $site-color-yellow;
						}
						
					}
				}
				@media (min-width: 992px){
					display: table-cell;
					float: none;
					&.contact-address{
						border-right: 2px solid $site-color-yellow;
					}
				}				
				
			}
		}
	
	
	.contact-map{		
		padding:{
			top: 30px;	
			left: 0px;
			right: 0px;
			bottom: 0px;
		}
		h3{
			//@include contact_icon('map.png');
		}
	}

	.contact-hours{
		//max-width: 600px;
		margin: 0 auto;
		h3{
			//color: $site-color-red;			
			font-size: $header-font-size-mob;
        	@media (min-width: 768px){
            	font-size: $header-font-size;
        	}
		}
    	
    	& *{
    		text-align: center !important;
    	}
   		    	
		
		.row{
			margin-top: -4px;
		}
		.col-xs-6{			
			.t{
				margin-top: 4px;
				font-weight: bold;
			}
		}

    		
	}

    .address{
    	
    	//@include contact_icon('place.png'); 
    	
        .state, .zip{ display: inline; }
        .city{
        	&:after{ content:", "; margin-left: -5px;}
        	&:before{content:" "; display: block;}	
        }        

        .name{
        	text-transform: uppercase;
			font-size: $header-font-size-mob;
        	@media (min-width: 768px){
            	font-size: $header-font-size;
        	}
        }
       
       
        
        .address_1, .name, .tel, .map{display: block;}
        
        .email, .map{
       		display: none !important;
       		text-transform: uppercase;
       		color: $site-color-red;
       }
      
        .map{
        	font-size: $header-font-size-mob;
        	@media (min-width: 768px){
            	font-size: $header-font-size;
        	}
            margin: 10px 0;
            
            a:link, a:visited {
                color: $site-color-blue
            }
        }
       .tel{
          margin-top: 12px;
          &>b{
          	font-weight: normal;
          } 
       }
        
    }
   
   .contact-map{
   		h3{
   			
   			text-transform: uppercase;
	       	
	       	a{
	       		color: $site-color-white;
	       	}
			font-size: $header-font-size-mob;
	        @media (min-width: 768px){
	        	padding-top: 50px;
	           	font-size: $header-font-size;
	        }
   			font:{
   				weight: normal !important;   				
   			}
   		}
   }
   
   .contact-hours{
   		margin-top: 30px;   		
   		&>h3{
   			
			text-transform: uppercase;
	       	//color: $site-color-red;
			font-size: $header-font-size-mob;
	        @media (min-width: 768px){
	           	font-size: $header-font-size;
	        }
   			font:{
   				weight: normal !important;   				
   			} 
   		}
   		.rich-text{
   			line-height: 1;
   			font-size: 16px;
   			h1,h2,h3,h4,h5{
   				margin-bottom: 4px;
   			}
   		}
   }
  
   .vcf-card{   		
   		display: block;
   		margin-top: 10px;
   		a{
       		color: $site-color-red;
     	}   	
   }
            
}