{% load wagtailcore_tags wagtailimages_tags wtpages_tags %}

{% if show_page_header and 'inside' != header_style %}
<div class="page-header outside inline-page text-center">
	<div class="title-wrapper">
   		<h1 class="title">
   			<div class="corner lt"></div>
		    <div class="corner rt"></div>
		    <div class="corner lb"></div>
		    <div class="corner rb"></div>
   			<a href="{% pageurl self.top_page %}#top">{{ self.title }}</a></h1>
    </div>           
</div>
{% endif %}

<section class="themed themed-{{self.theme.id}} impero-spaces {{subpage_index}}">
    <div class="container">
    
    	{% if show_page_header and 'inside' == header_style %}
		<div class="page-header inside inline-page text-center">
			<div class="title-wrapper">
		   		<h2 class="title">
		   			<div class="corner lt"></div>
		    		<div class="corner rt"></div>
		    		<div class="corner lb"></div>
		    		<div class="corner rb"></div>
		   		{{ self.title }}
		   		</h2>
		    </div>           
		</div>
		{% endif %}
    	
    
    	<div class="row">
		    <div class="txt col-xs-12">
		    		        
		        <div class="body-text">
		        {{ self.body|richtext }}
		        
		        <div class="form-links">
		        {% for fr in self.form_links.all %}
	            {% include "wtforms/includes/form.html" with self=fr.form is_popup=fr.is_popup request=request form_link=fr no_image=True only %}
	        	{% endfor %}
	        	</div>
		        
		        </div>	        
		    </div>		    
	    </div>
    
    	<div class="row">
    		{% for room in self.rooms %}
    		<div class="col-xs-12 col-md-6 text-center">
				<div class="thumbnail">
					<div class="image">
						{% carousel show_controls=False carousel_items=room.carousel_items.all %}
					</div>
					<div class="dsc hidden-xs">
						<h2>{{ room.title }}</h2>
						<h3>{{ room.capacity }}</h3>
						<div class="t">{{ room.body|richtext }}</div>
					</div>
				</div>
				<div class="dsc-mobile text-center hidden-sm hidden-md hidden-lg">
					<h2>{{ room.title }}</h2>
					<h3>{{ room.capacity }}</h3>
					<div class="t">{{ room.body|richtext }}</div>
				</div>		
			</div>
    		{% endfor %}    		
    	</div>
    </div>
</section>
