section.teamindexpage{
	.team-thumbnails{
		.list-item>div{		
			&>a{
			
				-webkit-transition: opacity .3s ease-in-out;
				-moz-transition: opacity .3s ease-in-out;
				-ms-transition: opacity .3s ease-in-out;
				-o-transition: opacity .3s ease-in-out;
	    		transition: opacity .3s ease-in-out;
			
				color: $site-color-dark;
				text-decoration: none;
				margin: 12px;
				display: block;
				img{
					display: block;
					width: 100%;																				
				}
				&:hover, &:focus{					
					opacity: 0.6;
					
				}
			}
			
				.name{												
					&:before{
						content: " ";
						display: block;
						margin-top: 3px;
						margin-left: 5px;
						margin-right: 5px;
						margin-bottom: 10px;
						border-top: 3px solid $site-color-gold;
					}
				} 
				.position{
					font-style: italic;
					font-size: 90%;
				}
		}
	}
	.team-details{
		display: none;
		.title-wrapper{
			border-bottom: 1px solid $site-color-gold;
			padding-bottom: 10px;
			margin-bottom: 10px;
			font-size: 18px;			
			.position{
				font-style: italic;
				font-size: 90%;
			}
		}
	}
}