@import "css/config";
@import "_team_thumbnails_and_details";

/*
.subpage.team{

	@media (min-width: 768px){
   
    }
   	
   	.tm-title, .tm-position{
   		display: block;
   		color: $site-color-red;
   	}
   
   .tm-position{
   	font-size: 60%;
   }
   
   .carousel{
   		margin: {
   			left: 50px;
   			right: 50px;
   		}
   	
   		.carousel-control{
   			width: 50px !important; 
			background-size: 30px auto;
			
			&.left{
				left: -50px;
			}
			&.right{
				right: -50px;
			}
   		}
   	
   		
   	
   }
   	
	
   
// 	.carousel{
// 		
// 		.carousel-control{
//         	opacity: 1;
//         	//background: none;
//         	color: $site-color-highlight;
//         	&:hover,
//         	&:hover *
// 	        {
// 	            color: lighten($site-color-highlight, 15%);
// 	        }
// 	    }
// 	    .carousel-control .fa:before{
// 	        font-size: 60px !important;
// 	    }
// 	    .carousel-control:focus, .carousel-control:hover{
// 	        color: lighten($site-color-highlight, 15%);
// 	    }		
// 	
// 	}
	
	.img{
		position: relative;
			
	}
	.img:after{
		content: " ";
		display: block;
		padding-top: 100%;
	}	
	.photo{
		background:{
			position: center top;
			repeat: no-repeat;
			size: cover;
		}
		position: absolute;
		left: 30px;
		right: 30px;
		bottom: 30px;
		top: 30px;
	}
} 


*/