{% extends "base.html" %}
{% load cache  wagtailcore_tags wagtailimages_tags  wtpages_tags %}

{% block carousel_main %}			    
	{% if self.carousel_items.all or self.get_parent.specific.carousel_items.all %}
	<section class="themed themed-{{ self.theme.id }} slide-big {{ self.content_type.model }}">
		{% carousel show_controls=False carousel_items=self.carousel_items.all fallback_items=self.get_parent.specific.carousel_items.all %}
	</section>		    		            
	{% endif %}
{% endblock %}


{% block page_header %}
	{% if self.get_parent.specific.page_heading %}
	<div class="container page-header-wrapper">
		<div class="page-header outside text-center">						
			<div class="title-wrapper">
		   		<h1 class="title"><a href="{% pageurl self.get_parent  %}">{{ self.get_parent.specific.page_heading }}</a></h1>
		    </div>		    
		</div>
	</div>
	{% endif %}
{% endblock %}

{% block page_content_heading %}
	
	<div class="page-header outside text-center">
		<div class="title-wrapper">
			<h2 class="title">{{ self.title }}</h2>
			{% if self.display_date %}
			<h3 class="date">{{ self.display_date }}</h3>
			{% endif %}
		</div>	
	</div>	
	
{% endblock %}
				    	