{% extends "standard_section.html" %}
{% load cache  wagtailcore_tags wagtailimages_tags  wtpages_tags %}

{% block page_header %}{% endblock %}

{% block page_content_heading %}
	
	<div class="page-header outside text-center">
		<div class="title-wrapper">
			<h2 class="title">{{ self.title }}</h2>
			{% if self.display_date %}
			<h3 class="date">{{ self.display_date }}</h3>
			{% endif %}
		</div>	
	</div>	
	
{% endblock %}


{% block text %}
	{{ self.excerpt|richtext }}
	<div class="text-center">
		<a class="btn btn-primary" href={% pageurl self %}>Click To View More</a>
	</div>	
{% endblock %}				    	