@import "css/config";


section.subpage.aboutindexpage{
	.page-header.outside{
		background-color: $site-color-orange;
		*{
			color: $site-color-white;	
		}
		.title-wrapper .title:after{
			border-color: $site-color-white;
		}
	}	
	
	background-color: $site-color-orange;
	* {
		color: $site-color-white;	
	}
	.btn-default{
		color: $site-color-dark; 
	}	
}

section.subpage.about-index-page{
	
	background-color: $site-color-orange;
	
	margin-bottom: 0px;
	padding-bottom: 0px;
	.txt{
		margin-top: 20px;		
	}
	
	.block-image{
		position: relative;
		margin-top: 40px;
		&:after{
			content: " ";
			display: block;
			padding-top: 33%;
		}
		&>div{
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			background-size: cover;
			background-position: center center;
		}
	}
	
	.block-paragraph{
		
		.txt>h2.title{
			text-transform: none;
		}
		
		.img{
			&:after{
				padding-top: 147%;
			}
			&>div{
				background-size: cover;
				background-position: top center;
			}
		}
	
		@media (min-width: 992px){
			.layout-right, .layout-left{
				.txt{
					padding-bottom: 100px;
				}
				&>.img{
					margin-top: -100px;	
				}
				
// 				&:first-child{
// 					margin-top: 0px;
// 				}		
			}
		
			&:first-child{
				.layout-right, .layout-left{
					&>.img{
						margin-top: 0px;	
					}
				}
			}
		
			.layout-right{			
				&>.txt, &>.img{
    				float: right;
				}
				&>.img>div{
					right: 40px;
				}
			}
	
	    	.layout-left{		
				&>.img>div{
					left: 40px;
				}		
			}
		}
	
	} 
            
}