{% load wagtailcore_tags wagtailimages_tags  wtpages_tags %}
		
<section class="themed themed-{{self.theme.id}} subpage {{subpage_index}} {{ self.content_type.model }}">
	<div class="container -fluid page-text-wrapper">				
		<div class="row">
		    <div class="txt col-sm-6">
		    	
		    	<div class="room-text-wrapper">
			    	{% if self.page_heading %}
			           	<h3 class="title text-center">{{ self.page_heading }}</h3>					    
				    {% endif %}
				    
				    {% if self.page_content_heading %}
			           	<h4 class="title text-center">{{ self.page_content_heading }}</h4>					    
				    {% endif %}
			        <div class="body-text text-left">
			        	{{ self.body|richtext }}
			        </div>
		        </div>
		        
		        <div class="room-links-wrapper">
		        
	        		{% if self.form_links.all %}
				        <div class="form-links">
				        {% for fr in self.form_links.all %}
			            {% include "wtforms/form.html" with self=fr.form is_popup=fr.is_popup request=request form_link=fr no_image=True only %}
			        	{% endfor %}
		        		</div>
	        		{% endif %}
	       		
	       		
	       			{% if self.related_links.all %}
				        <div class="related-links text-center">
				        {% for related_link in self.related_links.all %}
				        	<a class="btn btn-primary btn-lg text-uppercase" href="{{ related_link.link }}">{{ related_link.title }}</a>
			        	{% endfor %}
		        		</div>
	      			{% endif %}
      			
      			</div>
		        	        
		    </div>
	
		    <div class="img col-sm-6">
		    	{% carousel show_controls=False carousel_items=self.images carousel_style=self.carousel_style %}	        
		    </div>
	    </div>
    </div>
</section>
