$brand-primary: #DBA538;

$site-color-white:      #FFF;

$site-color-dark:       #000;

$site-color-gray:       #000;
$site-color-light:      #f7f5ef;



$site-color-orange:      #E57020;
$site-color-green:       #252D4E;
$site-color-lilac:       #CB0020;
$site-color-yellow-dark: #CB0020;
$site-color-yellow: 	 #C29834;
$site-color-pink: 	     #e2cec0;
$site-color-gold: 	     $brand-primary;




$site-color-blue:       #4C6FAF;
$site-color-red:        #FB0010;
$site-color-silver:     #F1F1F1;
$site-color-blue-med:   #CCDFE7;
$site-color-blue-brd:   #7FB0C3;

$site-color-highlight:  #EB0505;
$site-color-nav:        #EB0505;

$site-color-head:  $site-color-highlight;
$site-color-hover: $site-color-gold; //lighten($site-color-red,10);
$site-color-text:  #000;
$site-color-link:  $site-color-highlight;
$site-color-selected: $site-color-highlight;
$site-color-selected-hover: darken($site-color-highlight,10);
$site-color-error: $site-color-red;
$site-color-required: $site-color-red;

$site-color-bg: $site-color-white;
$site-color-footer: $site-color-white;

$site-color-hr: $site-color-yellow;


$color-fb: #0476AE;
$color-tw: #05A7AA;
$color-in: #F34257;

$standard-border: 2px solid transparentize(#000, 0.3);


// font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
// 'open_sans_condensedbold',

/*
$font-header:  'open_sans_condensedbold', Arial, Helvetica Neue, Helvetica, sans-serif;
$font-text:    'open_sans_condensed_light', Arial, Helvetica Neue, Helvetica, sans-serif;
$font-bold:    'open_sans_condensedbold', Arial, Helvetica Neue, Helvetica, sans-serif;
$font-caption: 'open_sans_condensedbold', Arial, Helvetica Neue, Helvetica, sans-serif;
*/
$font-text:    sans-serif;
$font-header:  $font-text;
$font-bold:    $font-text;
$font-caption: $font-text;

$site-mobile-max: 768px;

$header-height: 185px;

$body-top-padding: 118px;

$header-font-size: 25px;
$header-font-size-mob: 18px;

$caption-font-size: 28px;
$caption-font-size-mob: 18px;


// header
$header-logo-width: 650px;
$header-nav-color: $site-color-white;
$header-nav-bg-color: transparentize($site-color-white, 0.14);
$header-nav-dropdown-color: $site-color-dark;
$header-nav-dropdown-bg-color: transparentize($site-color-white, 0.14);
$header-nav-dropdown-hover-color: $site-color-hover;

// footer 
$footer-color: $site-color-dark;
$footer-bg: $site-color-silver; 

// form variables
$wt-form-label-color:			$site-color-dark;
$wt-form-label-align:			center;
$wt-form-label-text-transform:	uppercase;
$wt-form-width: 				400px;


// pages
$page-header-inside-color: $site-color-dark;
$page-header-outside-color: $site-color-dark;

@function img_path($n) {
    @return '/static/images/' + $n;
}

.debug {
    border: 1px dotted red;
}
@mixin debug {
    border: 1px dotted red;
}
@mixin debug1 {
    border: 1px dotted blue;
}
@mixin transition{
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
@mixin no-transition{
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
}
@mixin content_link{
    color: $site-color-blue;
    text-decoration: none;
    border-bottom: 1px solid $site-color-blue;
    &:hover{
        color: $site-color-hover;
        border-bottom: 1px solid $site-color-hover;
        text-decoration: none;
    }
}
@mixin gradient-vertical($color-top, $color-bottom, $prc){
    background: -webkit-gradient(linear, center top, center bottom, from($color-top), color-stop($prc, $color-bottom));
    background: -webkit-linear-gradient(top, $color-top, $color-bottom, $prc);
    background: -o-linear-gradient(top, $color-top, $color-bottom, $prc);
    background: linear-gradient(to bottom, $color-top, $color-bottom $prc);
}


$border-line-width: 30px;
$border-line-width-mob: 20px;

@mixin border_with_corners(){
	border-bottom: 1px solid $site-color-gold;	
	position: relative;	
 
}

@mixin bg_map(){
	background: url(img_path('bg.jpg')) center center no-repeat;
	background-size: cover;
}

@mixin title_decor(){
	.title-wrapper{		
		padding-top: 10px;
    	padding-bottom: 10px;    	    	
    	.title{
    		
    		@include border_with_corners();
    		
    		padding: 20px 20px;
    		@media (min-width: 768px){
    			padding: 20px 120px;	
    		}
    		
    		width: 745px;
    		max-width: 100%;
    		
    		
    		display: inline-block;
	    	margin: 0;
    	}
//     	&:after{
//     		content: " ";
//     		display: block;
//     		height: 20px;
//     		background: url(img_path('title-bg.png')) center center repeat-x; 
//     	}	
	}
   
}

@mixin title_decor_outside(){

	.title-wrapper{		
		padding-top: 10px;
    	padding-bottom: 10px;    	    	
    	.title{
    		@include border_with_corners();
    		
    		padding: 10px 20px;
    		@media (min-width: 768px){
    			padding: 10px 20px;	
    		}
    		
    		
    		display: inline-block;
	    	margin: 0;
	    	
	    	color: $site-color-dark;
    	}	
	}   
}

.carousel-control{
	color: $site-color-gold;
	&:hover, &:focus, &:active{
		color: $site-color-hover;
	}
	& > .glyphicon{
		//display: none !important;
	}
	&.left{		
    	.glyphicon:before{
    		content: "\f137";
    		font-size: 40px;
    		font-family: FontAwesome;
       	}
    }
    &.right{
   		.glyphicon:before{
   			content: "\f138";
   			font-size: 40px;
  			font-family: FontAwesome;
   		}
   	}             
   	span{
	   	height: 40px !important;
	    margin-top: -20px !important;
   	}
}


/*.slide-big{
	.carousel-wrapper{
		bottom: 2px;
	}
	border-bottom: 3px solid $site-color-gold;
}*/


.btn-primary{
	background-color: transparent;
	color: $site-color-gold;
	border-radius: 0;
	display: inline-block;
	position: relative;
	&:after{
		content: " ";
		display: block;
		position: absolute;
		left: 2px;
    	top: -3px;
    	right: -4px;
    	bottom: 2px;
		border: 1px solid $site-color-gold;
	}
}

section.subpage:not(.testimonials) p{
	text-align: justify;
}

$grid-float-breakpoint: 840px;
$grid-float-breakpoint-max: ($grid-float-breakpoint - 1);


.wtform label.form-group-set-label{
	padding-left: 0;
    border-bottom: 1px solid $site-color-gold;
    font-size: 14px;
    padding-bottom: 0px;
    margin-bottom: 10px;
    margin-left: 15px;
    margin-right: 15px;
    font-weight: normal; 
}