@font-face {
    font-family: 'Conv_KimmyDesign-BurfordBase';
    src: url('fonts/KimmyDesign-BurfordBase.eot');
    src: local('☺'),
        url('/static/fonts/KimmyDesign-BurfordBase.woff') format('woff'),
        url('/static/fonts/KimmyDesign-BurfordBase.ttf') format('truetype'),
        url('/static/fonts/KimmyDesign-BurfordBase.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Conv_KimmyDesign-BurfordStripesA';
    src: url('/static/fonts/KimmyDesign-BurfordStripesA.eot');
    src: local('☺'),
        url('/static/fonts/KimmyDesign-BurfordStripesA.woff') format('woff'),
        url('/static/fonts/KimmyDesign-BurfordStripesA.ttf') format('truetype'),
        url('/static/fonts/KimmyDesign-BurfordStripesA.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Conv_Archer-Medium';
    src: url('/static/fonts/Archer-Medium.eot');
    src: local('☺'),
        url('/static/fonts/Archer-Medium.woff') format('woff'),
        url('/static/fonts/Archer-Medium.ttf') format('truetype'),
        url('/static/fonts/Archer-Medium.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Conv_Archer-Book';
    src: url('/static/fonts/Archer-Book.eot');
    src: local('☺'),
        url('/static/fonts/Archer-Book.woff') format('woff'),
        url('/static/fonts/Archer-Book.ttf') format('truetype'),
        url('/static/fonts/Archer-Book.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
