
footer{

    overflow: hidden;
    position: relative;
    
     
    	
	&.fixed{
    	position: fixed;
    	bottom: 0px;
    	left: 0px;
    	right: 0px;
	}
    
    
    @media (max-width: 991px) {
    	text-align: center;	
    }    
    
    @media (min-width: 768px) {
        //position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        min-height: 40px;
    }
   
    padding: 20px;    
    font-size: 12px;
    line-height: 1.3;
    //border-top: 9px solid $site-color-highlight;
    background-color: $footer-bg;
    
/*     background:{
    	image: url(img_path("bottom-bg.jpg"));
    	position: 0 top;
    	repeat: repeat-x;
    	color: $footer-bg;	
    }  */
     
    text-transform: uppercase;
    &>*{
        position: relative;
        color: $footer-color;
    }
    &>div{
        padding: 5px 20px;
    }
    a{
        color: $footer-color;
        &:hover, &:focus{
        	color: $site-color-gold;
        	//background-color: transparent !important; 
        }
    }
   
    ul.navbar-social.nav{
    	&>li{
    		display: inline-block !important; 
    	}
    	&>li:before{
    		content: none;	
    	}
    }
   
   .navbar-social{
   	margin-top: 20px;
  	 display: inline-block;
  	 float: none !important;
  	 font-size: 16px;  	 
	 li{
			&>a{	
				font-size: 14px;			
				color: $site-color-white;
				&>.fa-stack>.fa-stack-2x{																    					
					color: $site-color-dark;	
				}
				&>.fa-stack>.fa-stack-1x{									    					
					color: $site-color-white;	
				}
				&:hover{
					background-color: transparent;
					&>.fa-stack>.fa-stack-2x{
						color: $site-color-hover;
					}
				}					
			}
			&.li-fb{
				.fa-inverse.fa-stack-2x{
					color: $color-fb;						
				}
				&>a:hover, &>a:focus{
					.fa-inverse.fa-stack-2x{
						color: darken($color-fb, 10);						
					}	
				} 
			}
			&.li-tw{
				.fa-inverse.fa-stack-2x{
					color: $color-tw;
				}
				&>a:hover, &>a:focus{
					.fa-inverse.fa-stack-2x{
						color: darken($color-tw, 10);						
					}	
				}
			}
			&.li-in{
				.fa-inverse.fa-stack-2x{
					color: $color-in;
				}
				&>a:hover, &>a:focus{
					.fa-inverse.fa-stack-2x{
						color: darken($color-in, 10);						
					}	
				}
			}
	
		}
    }
    
    .footer-links{
		ul.nav{	
		text-align: center;
		& > li{			
			margin: 10px; 
			display: block;
			text-align: center;
			&>a{
   				display: block;   				
   				&:hover, &:focus{
   					background-color: transparent;
   				}
   			}
			@media screen and (min-width: 768px){
				display: inline-block;
				vertical-align: middle;				
				& > a{     			
	     			padding: 0 10px;     		    
	          	}   
	          	img{
	          		max-width: 146px;          		
	          	}
			}
   			
   				
			}		
   		}   
	}
   
    .footer-copy{
        @media (min-width: 992px) {
            //padding-top: 10px;
            h3{
            	//text-align: right !important;
            }
            //text-align: right !important;
            //padding-right: 100px;
            .copy{
        		text-align: left !important;            
            	display: block !important;
        	}
        }
        @media (max-width: 768px) {
            text-align: center;
            padding: 0;
            margin: 0;
        }
       
    }
   
   .copy{
    	margin-top: 20px !important;
   }
   
//    .copy{        	            
//       text-align: center;
//     }
   
    .contact-hours{
    	
    	@media (max-width: 768px) {
    		text-align: center;
    	}
    	
		p{margin: 0; padding: 0;}
		
		.col-xs-6{
			white-space: nowrap;
			display: inline-block;
			vertical-align: top;
			float: none;
			.t{
				margin-top: 4px;
				font-weight: bold;
			}
		}
// 		&>div.col{
// 			display: inline-block;
// 			vertical-align: top;
// 			padding: 0 5px;
// 			
// 		}
    }
    h3{
        text-transform: uppercase;
        margin: 0;
        padding: 0;
        font-size: 14px;
        font-weight: bold;
        display: block;        
    }
    
    .footer-address .address{    	
    	text-transform: uppercase;
        @media (min-width: 992px) { 
        	text-align: left; 
        }
        .name{
        	display: none;
        	text-transform: uppercase;
    		margin: 0;
    		padding: 0;
    		font-weight: bold;
    		font-size: 120%;
    		
        	&:after{
        		content:" ";
        		display: block;
        	}
        }
        .city{        	
        	//&:after{content:", "; margin-left: -5px;}	
        }
        .address_1:after{display: block; content:""}        
        .address_2:after{display: block; content:""}
        .zip:after{display: block; content:""}
        .state:after{content:""}
        .map{
        	//color: $site-color-red;
        	display: block;
        	font-weight: normal;
        	margin:{
        		top: 4px;
        		bottom: 4px;	
        	}
        }
        .email{ display: none;}
        .tel, .fax{
        	//color: $site-color-red;
        	display: inline; 
        	b{
        		font-weight: normal;
        	}
        }
        .fax{
        	display: none; 
        	
        }
       .tel>b{
       		//display: none;
       }
      
       .tel, .map{
	       	a{
	       		//color: $site-color-red;
	       	}
       } 
       	.fax:before{
        	content:" | ";
        		display: inline;
        }
       
       .vcf-card{
   			display: none;
   			margin-top: 5px;   	
   		}
       
    }
   
   .footer-contact .address{    	
    	text-transform: none;
        @media (min-width: 992px) { 
        	text-align: left; 
        }
        .name, .address_1, .address_2, .city, .state, .map, .zip{
       		display: none;
        }
        
        .email, .tel, .fax{ display: block;}
    }
   
   	ul.nav{
   		padding: 0;
		& > li{
     		display: block;     		
     		& > a{
     			display: inline;
     			padding: 0;     		    
          	}    
          }
         
//         & > li:BEFORE{
//      		content: '•';
//     		padding-left: 5px;
//     		padding-right: 5px;    
// 		}
//     
//     	& > li:FIRST-CHILD:BEFORE{
//     		content: none;
// 		}   
	
    }
   
   @media screen and (max-width: 991px){
   		padding-top: 10px;
		& > .container-fluid>.row>div {
			padding-top: 10px;			
		}
   }
   
  @media screen and (min-width: 992px){
  		& > .container-fluid>.row>div{  			
  			
  			text-align: center;
  			&>div {
  				display: inline-block;
  				text-align: left;  			
  			}
  			&.footer-address{
  				text-align: left;
  			}
  			&.footer-links{
  				
  			}		
  			&.footer-social{
  				text-align: right;
  			}  			
  		}
  			
  		
  	
  		
  	
  	
  		
  		h3{
  			text-align: left;
  		}
  	
  		.footer-address{
  			text-align: left;	
//   			&>div{
//   				text-align: center !important;
//   			}
  		}
  	
// 		& > .container-fluid>.row{
// 			display: table;
// 			width: 100%;
// 			margin: 0;
// 			direction: ltr;
// 		}
// 		& > .container-fluid>.row>div {		
// 	    	display: table-cell;
// 	    	vertical-align: middle;
// 	    	float: none;
// 	    	padding: 0;	    	
// 	    	&.footer-links{
// 	    		text-align: left;
// 	    	}
// 	    	&.footer-copy{
// 	    		text-align: right;
// 	    	}
// 		}

	}
	
   
}


