@media screen and (max-width: $grid-float-breakpoint-max){
	body{ padding-top: 64px; }
}


header{
	.navbar{
		border: none;
	
		.flat-menu.header_links{
			@media screen and (max-width: $grid-float-breakpoint-max){
				margin-bottom: 10px;
				border-top: 2px solid $site-color-gold;
				text-align: center;
			}
			@media screen and (min-width: $grid-float-breakpoint){
		 		position: absolute;	
		 		top: 12px;
		 		right: 20px;		 				 		
		 	}	
		 	li{
		 		@media screen and (min-width: $grid-float-breakpoint){
		 			float: left;
		 		}
		 		a{
		 			@media screen and (max-width: $grid-float-breakpoint-max){
						padding: 5px 0px;
					}
		 			@media screen and (min-width: $grid-float-breakpoint){
		 				display: block;		 			
		 				color: $site-color-white;
		 				border: 2px solid $site-color-white;
		 				padding: 4px 20px;
		 			}
		 			@media screen and (min-width: $grid-float-breakpoint) and (max-width: 1211px) {
		 				font-size: 12px;
		 			}
		 			&:hover, &:focus{
		 				background: none;
		 				color: $site-color-hover;
		 			}
		 		}		 			
			}
		}
		
		.navbar-social{
			position: absolute;
			z-index: 1;
			right: 24px;		
			//display: none;
			li a{	
				font-size: 14px;			
				color: $site-color-white;
				&>.fa-stack>.fa-stack-2x{									    					
					color: $site-color-red;	
				}
				&>.fa-stack>.fa-stack-1x{									    					
					color: $site-color-white;	
				}
				&:hover{
					//color: $site-color-hover;
					background-color: transparent;
					&>.fa-stack>.fa-stack-2x{
						color: $site-color-hover;
					}
				}
			}
		}
	
		.reservations-button{
			display: block;
			position: absolute;
			z-index: 10;
			display: block;
	    	position: absolute;
	    	z-index: 10;
	    	margin-top: 10px;
	    	top: 100%;
	    	right: 10px;
	    	height: 40px;
	    	line-height: 40px;
	    	padding-left: 30px;
	    	padding-right: 30px;
	    	background-color: $site-color-blue;
	    	color: #fff;
	    	font-size: 18px;
		}
	
	
		.order-online-button{
			display: block;
			position: absolute;
			z-index: 10;
			display: block;
	    	position: absolute;
	    	z-index: 10;
	    	//margin-top: 10px;
	    	top: 44px;
	    	right: 10px;
	    	height: 40px;
	    	line-height: 40px;
	    	padding-left: 30px;
	    	padding-right: 30px;	    		    	
	    	font-size: 16px;
	    	color: $site-color-white;
	    	background-color: $site-color-gold;
		}
	
		
		
		body.navbar-affix-False &{
			position: fixed;
			@media screen and (min-width: $grid-float-breakpoint)
		 	{
		 		margin-bottom: -50px;
		 	}
		 	
		}
	
	    @media screen and (min-width: $grid-float-breakpoint){
	    
	    	.navbar-brand{
	    		
   				img{
   					width: 150px;
   					
   					@media (max-width: 1211px) {
   						width: 100px;
   					}
   				}
   			}
	    
	    	&.affix-top{
	    		position: fixed;
   				
   				.order-online-button{
   					top: 44px;   					
   				}
   				
   				.navbar-brand{
	   				img{	   				
	   					&.logo{
							display: none;						
						}
						&.logo-white{
							display: block;						
						}
	   				}
   				}
   				
   			}
   			&.affix{   				
   				position: fixed;
   				background-color: $header-nav-bg-color;
   				box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.3);
   				.navbar-brand{
	   				img{	   				
	   					&.logo{
							display: block;				
						}
						&.logo-white{							
							display: none;						
						}
	   				}
   				}
   				.navbar-main{  				       				    
    				&>li>a{
	    				color: transparentize($site-color-dark, 0.4);
	    			}
   				}
   			
   				.order-online-button{
   					top: 22px;
   				}
   				
   				
   				.flat-menu.header_links li a{
   					color: transparentize($site-color-dark, 0.4);
   					border-color: transparentize($site-color-dark, 0.4);
   				}
   				
   			}
	 		
	 		min-height: 60px;							
			.navbar-social{			
				top: 22px;
			}
	
			.navbar-brand {
    			padding-top: 23px;    			
    			padding-left: 23px;
    			height: auto;
    			/*&>img {
    				width: 139px;
				}*/			
			}
	 	}			
		
		
	    
	    margin: 0px;	    
	    top: 0px;
	    left: 0px;
	    right: 0px;	    
	    
	    		
	    margin-bottom: 0;
	    border-radius: 0;
	    
	    .navbar-main{
	    	@media screen and (min-width: $grid-float-breakpoint)
		 	{
		 		height: 60px;
		 		margin: 0;
		 		padding: 0;
	    		display: block;
	    		float: none;	    		
	    		
    			margin-left: 180px;
				margin-right: 180px;			
				@media (max-width: 1211px) {
					margin-left: 120px;
					margin-right: 140px;
				}
   				
	    		
	    		&:before{
	    			content: " ";
	    			display: inline-block !important;
	    			height: 60px;
	    			vertical-align: middle;
	    		}	    		
	    		
	    		body.navbar-logo-center &{
	    			margin-left: 0px;
	    			margin-right: 0px;
	    			padding-left: ($header-logo-width / 2);
	    			padding-right: ($header-logo-width / 2);
	    			float: left !important;
	    			width: 50% !important;
	    		}
	    		
	    		text-align: center;
	    		//text-align: left;
	    		
	    		.stretcher {
		    		width: 100% !important;
		    		display: inline-block !important;
		    		font-size: 0 !important;
		    		line-height: 0 !important;
				}
	    	}
	    
	    	@media screen and (max-width: 1450px) and (min-width: 769px)
		 	{
		 		body.navbar-logo-center &.navbar-nav-1{
		 			padding-left: ($header-logo-width / 10);	    			
		 		}
		 		body.navbar-logo-center &.navbar-nav-2{		 			
	    			padding-right: ($header-logo-width / 10);
		 		}		
		 	}
	    
	    	

			&>li {
	    		float: none;
	    		@media screen and (min-width: $grid-float-breakpoint)
			 	{
			 		display: inline-block;
	    			vertical-align: middle;	
			 	}	    	
			 
			 	@media (min-width: 1323px) {
			 		padding: 0 10px;
			 		font-size: 17px !important;
			 	}
			 	
			 	@media (max-width: 1322px) {
			 		padding: 0 10px;
			 		font-size: 14px !important;
			 	}
			 	@media (max-width: 1211px) {
			 		padding: 0 5px;
			 		font-size: 12px !important;
			 	}
			 	@media (max-width: 990px) {
			 		padding: 0 2px;
			 		font-size: 10px !important;
			 	}
			 	
			 	
			 	
				
				
			    
	    		&>a{
	    			padding: 0px;	    			 
	    			line-height: 1;
	    			color: $header-nav-color;	    			
	    			&:hover{
	    				color: $site-color-hover;
	    				background: none;
	    			}
	    		}
	    	
	    		
	    	
			}
		
		}
	
		 
	
	
		/* mobile navigation */	   
		@media (max-width: $grid-float-breakpoint-max) {
			
			
			
			position: fixed;
			height: 64px;	   		
			padding-top: 5px;
			padding-left: 0px;
			padding-right: 0px;
			min-height: 0;
			
			background-color: $header-nav-bg-color;
			
			.navbar-collapse {
			    background: $header-nav-dropdown-bg-color;
    			box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
			}
					   			   
			.navbar-toggle {
				border-color: $site-color-dark;
			}		
			.navbar-toggle .icon-bar {
				background-color: $site-color-dark;
			}			
			.navbar-brand {
				height: 59px;
				padding: 18px 10px;
				&>img{
					width: 170px;
					&.logo-white{
						display: none;
					}
				}
			}
		
			.navbar-nav>li {
				text-align: center;
				&>a{
					color: $header-nav-dropdown-color;
					font-size: 16px;
					padding-top: 5px;
					padding-bottom: 5px;
					&:hover{
						color: $header-nav-dropdown-hover-color;
					}
				}
			}
		
			.dropdown-menu{
				display: none !important;
			}
			
		}
		
	
	
	    @include transition;
	    
	
	    & > .container{
	        position: relative;
	        padding: 0 !important;
	        height: 100%;
	    }
	    .dropdown:hover{
	        .dropdown-menu{
	            display: block;
	        }
	    }
	   	   
	    .dropdown-menu{
	        background-color: $header-nav-dropdown-bg-color;
	        border: 0;
	        border-radius: 0;	        
	        *{ text-align: left; }
	        &>li{
	        	&>a{
	        		color: $header-nav-dropdown-color;
	        		font-size: 17px;
	        		&:hover, &:focus{
	        			background-color: transparent !important;
	        			color: $header-nav-dropdown-hover-color;
	        		}
	        	}
	        }
	    }
	    .nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
	        background-color: transparent !important;
	        border: 0;
	    }
	
	   
	}
}

		