.loading-modal {
    display:    none;
    position:   fixed;
    z-index:    1060;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    color: $site-color-highlight;
    background-color: transparentize($site-color-white, 0.3);;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;   
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .loading-modal {
    display: block;
}

.fast-spin {
  -webkit-animation: fa-spin .5s infinite linear;
  animation: fa-spin .5s infinite linear;
}