/* ############################ */
.portfolio-modal{

    .image{
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        height: 100%;
        width: 100%;
    }

    .carousel-caption{
        left: 0px;
        right: 0px;
        bottom: 0px;
        padding: 20px;
    }

    .dsc{
        font-size: 18px;
    }

    .carousel-control{
        top: 50%;
        bottom: auto;
        height: 50px;
        line-height: 50px;
        width: 50px;
        margin-top: -25px;
        padding: 0px;
        opacity: 0.9;
        background: none;        
        &>span{
            position: static;
            color: #fff;
            margin: 0;
            padding: 0;
            height: 50px;
            width: 50px;
            line-height: 50px;
            margin-top: 1px;
            font-size: 50px;
        }
//         @media (min-width: 768px){
//         	&.left{left: -50px;}
//         	&.right{right: -50px;}
//         }
        &:HOVER{
            color: $site-color-selected-hover;
            opacity: 1;
        }
    }


    .close{        
        opacity: 1;
        text-shadow: none;        
        position: absolute;
        z-index: 10;
        top: 5px;
        font-size: 0px;
        font-weight: normal;
        color: #fff;
        line-height: 1;
        right: 5px;
        &>span:after{
        	font-size: 30px;
        	font-family: FontAwesome;
        	content: "\f00d";        	
        }     
//         @media (min-width: 768px){
//             right: -50px;
//             &:after{
//                 width: 50px;
//                 height: 50px;
//             }
//         }
    }

    .close:HOVER {
        color: $site-color-highlight;
    }

    .carousel-control:HOVER span{
        color: $site-color-hover;
    }

    .modal-dialog {
        position: fixed;

        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;

//         @media (min-width: 768px){
//             top: 50px;
//             bottom: 50px;
//             left: 150px;
//             right: 150px;
//         }

        width: auto;
        height: auto;
        padding: 0;
        margin: 0;
    }

    .modal-content {
        height: auto;
        min-height: 100%;
        border-radius: 0;
        background-color: rgba(0,0,0,0.86);
    }


    .carousel,  .carousel-inner{
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        //overflow: hidden;
    }

    .carousel-inner>.item{
        height: 100%;
    }

    .carousel-caption{
        left: 0px;
        right: 0px;
        bottom: 0px;
        padding: 20px;
    }
}
