.navbar-toggle{
	padding: 9px 10px;
	.icon-bar:nth-of-type(3) {
	  top: 1px;
	}

	.icon-bar:nth-of-type(4) {
  		top: 2px;
	}

	.icon-bar {
		position: relative;
	  	transition: all 500ms ease-in-out;
	}

	&[aria-expanded="true"]{
		.icon-bar:nth-of-type(2) {
	  		top: 6px;
	  		transform: rotate(45deg);
		}

		.icon-bar:nth-of-type(3) {
	  		background-color: transparent;
		}

		.icon-bar:nth-of-type(4) {
	  		top: -6px;
	  		transform: rotate(-45deg);
		}
	}
}