section{
	&.page-layout-right>.container>.row{
		@media (min-width: 992px){
			&>.txt, &>.img{
    			float: right;
			}
			&>.txt{
				padding-left: 40px;
			}
		}
	}
	&.page-layout-left>.container>.row{
		@media (min-width: 992px){
			&>.txt{
				padding-right: 40px;
			}
		}

	}
}
	
	