.regular-popup{
	
	@media (max-width: 768px){
		&.vertical-centered{
			&>div{			
				display: inherit;
			}
		
			&:before{
				content: none;
			}			
		
		    
		
		}
	}

	.close{
		@media (max-width: 768px){
			top: 7px;
    		right: 7px;	
		}
		@media (min-width: 769px){
			top: -22px;
    		right: -21px;	
		}		
		position: absolute;
		z-index: 10;	    
    	color: #fff;
    	opacity: 1;
    	font-size: 24px;
    	font-weight: normal;
    	text-transform: uppercase;
	}
    .close,
    .close *{
    	
    	@media (max-width: 768px){
    		color: $site-color-highlight;	
    	}
    	@media (min-width: 769px){
    		color: #fff;	
    	}  	
        
        opacity: 1;
        font-size: 30px;
        border: 0;
        &:hover{
            color: $site-color-hover;
        }
    }
 }