.reservation-box{
	
	.modal-title{
		color: $site-color-red;
    	padding: 10px;
	}
	
	.close{
		@media (max-width: 767px){
			top: 7px;
    		right: 7px;	
		}
		@media (min-width: 768px){
			top: -22px;
    		right: -21px;	
		}		
		position: absolute;
		z-index: 10;	    
    	color: #fff;
    	opacity: 1;
    	font-size: 24px;
    	font-weight: normal;
    	text-transform: uppercase;
	}
    .close,
    .close *{
    	
    	@media (max-width: 767px){
    		color: $site-color-red;	
    	}
    	@media (min-width: 768px){
    		color: #fff;	
    	}  	
        
        opacity: 1;
        font-size: 30px;
        border: 0;
        &:hover{
            color: $site-color-hover;
        }
    }    
    .modal-dialog {
        float: none;
        @media (min-width: 768px){margin-top: 125px;}
    }
    .modal-content{
    	
    	.txt{
    		padding: 10px;
    	}
        
        color: $site-color-dark;
        
        -webkit-box-shadow: none;
    	box-shadow: none;
    	border-radius: 0;
    	background: none;
        
        &:BEFORE {
    		content: " ";
    		display: block;
    		position: absolute;
    		z-index: -1;
    		left: 4px;
    		top: 4px;
    		right: 4px;
    		bottom: 4px;
    		border: 2px solid $site-color-red;
		}
	
		&:AFTER {
		    content: " ";
		    display: block;
		    position: absolute;
		    z-index: -2;
		    left: 0px;
		    top: 0px;
		    right: 0px;
		    bottom: 0px;
		    background: $site-color-white;
		    opacity: 0.86;
        }
        
        .row{
            margin: 0;
            &>div{ padding: 0; float:left; padding: 0 5px;}
        }
        label{
            font-weight: normal;
            overflow: hidden;
            *{ float:left; }
            span{
                font-size: 16px;
                padding-top:7px;
                padding-right: 3px;
                //font-weight: bold;
                width: 100px;
                color: $site-color-dark;
            }
            input,select{ width: 400px; }
        }
        .modal-header{
            padding: 20px 17px;
            border: 0;
            background: none;
            color: $site-color-dark;            
        }
       	.nodal-body{
       		background: none;
       	}
        .form-control{
            vertical-align: top;
            //background-color: $site-color-dark;
            color: $site-color-dark;
            padding: 1px 7px;
        }
        button[type=submit]{
        	margin-top: 10px;
        	background: none;
		    color: $site-color-blue;
		    -webkit-box-shadow: none;
		    -moz-box-shadow: none;
		    box-shadow: none;
		    border-radius: 0;
		    border: none;
		    border-bottom: 2px solid $site-color-red;
		    font-size: 18px;        	          
            outline: 0;
            &:hover{
            	color: #fff;
                background-color: $site-color-hover;
            }
        }
    }
}
