
.slideshow.carousel{    
    height: 100%;
    position: relative;
    h2{
    	@media (min-width: 768px) {
    		font-size: 55px;        		
    	}
        
        line-height: 66px;
        //font-family: $font-caption;
        margin: 5px 0px;
    }
    h3{
/*     	@media (min-width: 768px) {
    		font-size: 58px;
    	} */
        
        //font-family: $font-header;
        margin: 0;
    }

    .carousel-inner,
    .carousel-inner>.item{
        height: 100%;
        overflow: hidden;
    }
    .carousel-inner>.item {
        //text-align: center;
        img{
            //margin:0 auto;
            position: relative;
            left: 50%;
            transform: translateX(-50%);
            -ms-transform: translateX(-50%);
            max-width: none !important;
            min-width: 100%;
            width: auto;
            min-height: 100%;
            @media (max-height: 768px) {
                //height: 100%;
            }
        }
    }

    .carousel-indicators{
		display: none;
        bottom: 60px;
        margin-bottom: 0;
        li{
            border: 0;
            background-color: transparent;
            border-radius: 50%;
            width: 10px;
            height: 10px;
            &:hover{
            }
            &.active{
                background-color: $site-color-red;
                border: 0;//-color: $site-color-red;
                position: relative;
            }
        }
    }

    .carousel-caption-wrapper{
        background-color: transparentize(#000, 0.7);
        position: absolute;
        right: 0;
        left: 0;
        top: 0;
        bottom: 0;
    }
    .carousel-caption{
        text-align: center;
        padding: 20px;
        background-color: transparentize($site-color-light, 0.14);
        margin: 0;
        right: 0;
        left: 0;
        top: auto;
        //top: 0;
        height: auto;
        bottom: 0;
        text-shadow: none;
        
        text-transform: uppercase;
        
        &>*{
        	color: $site-color-highlight;
        } 

		&>a{
			display: block;
		}

        .text{
            font-size: 23px;
        }        
    }
    .carousel-control{
        opacity: 1;
        background: none;
        color: $site-color-hover;
        &:hover,
        &:hover *
        {
            color: lighten($site-color-hover, 15%);
        }
    }
    .carousel-control .fa:before{
        font-size: 60px !important;
    }
    .carousel-control:focus, .carousel-control:hover{
        color: lighten($site-color-hover, 15%);
    }
}


.carousel-wrapper{
	.carousel-image{
		position: absolute;
		z-index: -1;
		left: 0px;
		top: 0px;
		right: 0px;
		bottom: 0px;
		background:{
			size: cover;
			repeat: no-repeat;
			position: center center;
		}			
	}
	
}

.carousel.fading {	
    .carousel-inner {
        & > .item {
            opacity: 0;
  			-webkit-transition-property: opacity;
  			-moz-transition-property: opacity;
  			-o-transition-property: opacity;
  			transition-property: opacity;
  			
  			
  			-webkit-transition-duration: 1s;
  			-moz-transition-duration: 1s;
  			-o-transition-duration: 1s;
  			transition-duration: 1s;
  			
  			
  			
  			
  			-webkit-transition-timing-function: linear;
  			-moz-transition-timing-function: linear;
  			-o-transition-timing-function: linear;
  			transition-timing-function: linear;
  			
  			 			
  			&.active{
  				opacity: 1;
  			}
			&.active.left,
			&.active.right {
				left: 0;
				opacity: 0;
				z-index: 1;
			}
		   &.next.left,
		   &.prev.right {
  				opacity: 1;
			}

  			@media all and (transform-3d), (-webkit-transform-3d) {
			    &.next,
			    &.active.right {
			      opacity: 0;
			      -webkit-transform: translate3d(0, 0, 0);
			              transform: translate3d(0, 0, 0);
			    }
			    &.prev,
			    &.active.left {
			      opacity: 0;
			      -webkit-transform: translate3d(0, 0, 0);
			              transform: translate3d(0, 0, 0);
			    }
			    &.next.left,
			    &.prev.right,
			    &.active {
			      opacity: 1;
			      -webkit-transform: translate3d(0, 0, 0);
			              transform: translate3d(0, 0, 0);
			    }
			}
        }
        
    }

    .carousel-control {
        z-index: 2;
    }
}

