.page-header{
	
	&.outside{
		
		&.inlinepage{
			border-bottom: 1px solid $site-color-gold;
			border-top: 1px solid $site-color-gold;
			margin: 10px -15px;
			//margin-bottom: 30px;
			padding: 15px 20px;			
			*{
				color: $site-color-dark !important;	
			}
			a:hover, a:focus, .active a{
				color: $site-color-hover !important;
			}
				
		}
		
		&:not(.inlinepage){			
			padding: 15px 0px;
			margin: 10px -15px;		
			
			@media (min-width: 768px) {		
			}
			
			.title{
				display: block;
				//padding: 20px 40px;
				border-top: 1px solid $site-color-gold;
				border-bottom: 1px solid $site-color-gold;
				
			}
		}

	
		//@include title_decor;
		.title{
			position: relative;
			z-index: 1;
			
			color: $page-header-outside-color;
			*{
				color: $page-header-outside-color;
			 }
			@media (min-width: 1200px) {
				.has-navbar &{
					//padding-top: 14px;
					float: left;
				}
			}	
		}
		
		.page-navbar{	
			//background-color: $site-color-blue;
			position: relative;
			z-index: 1;
			
			@media (min-width: 1200px) {
				.has-navbar &{
					float: right;
					padding-top: 10px;
					padding-bottom: 0;
				}
			}
			
			margin: 2px 0px 0px 0px;
			
			
			&>li{
				@media (min-width: 768px) {		
				&:not(:first-child):before{
					content:"|"; 
					display: inline-block; 
					padding-left: 10px; 
					padding-right: 10px; 
					color: $site-color-dark;
				}
			}
			
			&>a{
	            color: $site-color-dark;
	            display: inline-block;
	            padding: 0;
 	            &:hover, &:focus{
	        		background: none;
	        		color: $site-color-hover;	
	        	} 
	        }
	        
	       	&.active{
	       		&>a{
	       			color: $site-color-hover;
	       		}
	       	 }
			}
		}
	}

	&.insidetext{
		text-align: left;
		color: $page-header-inside-color;
		
		.title{
			font-size: $header-font-size-mob;
	        @media (min-width: 768px){
	            font-size: $header-font-size;
	        }	
		}
		
	}

	&.inside{
		@include title_decor_outside(); 
		
		
		
// 		&:after{
//     		content: " ";
//     		display: block;
//     		height: 20px;
//     		
//     		@media (min-width: 768px) {
//     			margin:{
//     				left: 120px;
//     				right: 120px;
//     			}
//     		}
//     		
//     		background: url(img_path('title-bg.png')) center center repeat-x; 
//     	}
	
	
		.page-navbar{
			
			margin-top: 0;
			margin-bottom: 18px;
			 	
	
				
				&>li{
					@media (min-width: 768px) {		
					&:not(:first-child):before{
						content:"|"; 
						display: inline-block; 
						padding-left: 10px; 
						padding-right: 10px; 
						color: $site-color-dark;
					}
				}
				
				&>a{
		            color: $site-color-dark;
		            display: inline-block;
		            padding: 0;
		            &:hover, &:focus{
		        		background: none;
		        			
		        	}
		        }
		        
		       	&.active{
		       		&>a{
		       			
		       		}
		       	 }
				}
			}
	
	
		.title-wrapper{			 	
			color: $page-header-inside-color;
			*{
				color: $page-header-inside-color;
			}    	
    	}
		
// 		@media (min-width: 768px){
//             &.has-subnav{
//             	//border-bottom: 2px solid $site-color-dark;
//             	margin-bottom: 20px;
// 				.page-navbar{
// 					float: right !important;
// 				}
// 				.title-wrapper{
// 					float: left !important;
// 					padding: 0;
// 					.title{
// 						padding: 0;
// 						border-bottom: none;
// 					}
// 				}				
// 			}
//         }
		
		 
	}
	
    text-align: center;
    text-transform: uppercase;
    padding: 0;    
    border: 0;
    margin: 0;
    *{        
        text-decoration: none !important;
    }    
		
    
   
    h1,h2{    	
    	display: inline-block;
    	margin: 0;
    	padding: 5px; 	
        font-size: $header-font-size-mob;
        @media (min-width: 768px){
            font-size: $header-font-size;
        }
               
        font-weight: normal !important;
    }
   
    
    .subnav{
    	color: $site-color-dark;
    	&*{
    		color: $site-color-dark;
    	}
        margin: 0;
        line-height: 1;
        margin-top: 25px;
    }
}


.page-navbar{	
	float: none;
	margin:{
		top: 2px;		
	}
	padding:{
		top: 15px;
		bottom: 20px;
	}
	
	&>li{
		float: none;
		display: inline-block;
		
		@media (max-width: 767px) {
			padding-left: 10px; 
			padding-right: 10px;
		}
		
		 
	}
	
	@media (max-width: 768px) {
       *{font-size: 19px !important;}
    }
    
}
	
	
section.slide-big{
	margin-bottom: 40px;
	
}
		
section.subpage{
	
	&.show-separator-True:before{
		content: " ";
	    display: block;
	    margin: 0 auto;
	    margin-top: 20px;
	    margin-bottom: 20px;
	    border-top: 1px solid #DBA538;
	    width: 540px;
	    max-width: 60%;
	}
	
	padding-bottom: 20px;
	background-attachment: fixed;
	
	.img-top{
		position: relative;    
       	overflow: hidden;
       	z-index: 1;        
		img{
			min-width: 100%;
		}       
		&:after{
			content: " ";
			display: block;
			padding-top: 43%;			
		}

		.carousel-wrapper,
		&>div,
		.slideshow.carousel{
			position: absolute;
			left: 0px;
			right: 0px;
			top: 0px;
			bottom: 0px;
		}
		.carousel-wrapper{
			top: 0px;
			bottom: 0px;
		}
	
		@media (min-width: 768px) {
			.carousel-wrapper{
				left: 0px;
				right: 0px;
				top: 0px;
				bottom: 0px;
			}	
		}
			    
	}	

.img-bottom{
		position: relative;    
       	overflow: hidden;
       	z-index: 1;        
		img{
			min-width: 100%;
		}
		
		
		
		//border-top: 3px solid $site-color-gold;		
		margin-top: 30px;
		//border-bottom: 3px solid $site-color-gold;		
		//margin-bottom: -17px;
		       
		&:after{
			content: " ";
			display: block;
			padding-top: 32%;			
		}

		.carousel-wrapper,
		&>div,
		.slideshow.carousel{
			position: absolute;
			left: 0px;
			right: 0px;
			top: 0px;
			bottom: 0px;
		}
		
	
		
		.carousel-wrapper{
			left: 0px;
			right: 0px;
			top: 2px;
			bottom: 2px;
		}	
		
			    
	}

	
	.img{
		position: relative;    
       	overflow: hidden;
       	z-index: 1;        
		img{
			min-width: 100%;
			min-height: 100%;
		}       
		&:after{
			content: " ";
			display: block;
			padding-top: 100%;
		}

		.carousel-wrapper,
		&>div,
		.slideshow.carousel{
			position: absolute;
			left: 0px;
			right: 0px;
			top: 0px;
			bottom: 0px;
		}
		.carousel-wrapper{
			top: 30px;
			bottom: 30px;
		}
	
		@media (min-width: 768px) {
			.carousel-wrapper{
				left: 0px;
				right: 0px;
				top: 20px;
				bottom: 0px;
			}	
		}
			    
	}	

	.txt{        
		position: relative;        
		z-index: 2;
		padding: 20px 0px;		
		h2{
			font-weight: bold;
			//border-bottom: 2px solid;
			padding-bottom: 5px;
			text-align: center;
			text-transform: uppercase;
		}
		h3{
			font-weight: bold;
		}
		@media (max-width: 768px) {
			h2, h3{ margin-top: 5px;}
			padding: 10px 20px;
		}
	}
}

