@import "config";
//@import "fonts";
@import "slideshow";
@import "modalslideshow";
@import "header";
@import "navbartogleanimation";
@import "footer";
@import "reservations";
@import "pagelayout";
@import "subpage";
@import "popup";
@import "loading";



html,body{    
    min-height: 100%;
    height: 100%;
}


body{
    display: block !important;
    font-size: 16px;    
    margin: 0;
    color: $site-color-text;
    background-color: $site-color-bg;
    //background-image: url(img_path('bg.jpg'));
    //background-size: cover;
//     @media screen and (min-width: 768px){
// 		padding-top: $body-top-padding;		
//  	}    
	
}

.h1, .h2,.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{
    //font-family: $font-header;
}

hr{
	border-top: 1px solid $site-color-hr;
	width: 80%;
}

strong{
    //font-family: $font-bold;
}
a{
    @include transition;
    &:hover{
        color: $site-color-hover;
    }
}

.anchor{    
    top: -80px;
    display: block;
    position: relative;
}

/* .carousel .carousel-control{
	span{
		display: none;
	}
	background-color: transparent;
	background-repeat: no-repeat;
	background-size: 30px auto;
	background-position: center center;
	&.left{
		background-image: url(img_path('arrow-left.png'));	
	}
	&.right{
		background-image: url(img_path('arrow-right.png'));
	}	
} */


.iscroller{
	padding-left: 0;
	padding-right: 0;	
}

.iscroller .carousel-control{
    width: 50px;
    span{
        width: 50px;
    }
    &.left{
        left: 5px;        
    }
    &.right{
        right: 5px;        
    }
}


.related-links{
	margin-top: 20px; 
}


.vertical-centered{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: auto;
    white-space: nowrap;
    text-align: center;
    
    &:before {
        height: 100%;
        display: inline-block;
        vertical-align: middle;
        content: '';
    }
    &>div {
        display: inline-block;
        white-space: normal;
        vertical-align: middle;
        text-align: left;
    }
}


.slide-small,
.slide-big,
.slide-full{
    position: relative;
    z-index: -1;
    overflow: hidden;
    .slideshow.carousel .carousel-inner > .item img{
        width: 100%;
        height: auto;
    }
}
.slide-big{	
	@media screen and (min-width: 768px){
    	&:after{
        	content: " ";
        	display: block;
        	padding-top: 48.958%;        
			//padding-top: 33.5%;
    	}
    }
    &>div,
    &>.slideshow.carousel{
        position: absolute;
        z-index: -1;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0px;
/*         @media screen and (min-width: 768px){
            bottom: 90px;
        } */
    }
    @media screen and (max-width: 767px){
    	&:after{
        	content: none;
        	display: block;
        	padding-top: 48.958%;        
			//padding-top: 33.5%;
    	}
    	height: 408px;
   }
}
.slide-small{
    &>div,
    &>.slideshow.carousel{
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }
    &:after{
        content: " ";
        display: block;
        padding-top: 41%;
    }
}

@media (min-width: $site-mobile-max+1) {
    .slide-full{height: 100%;}
    .slide-small{ max-height: 580px;}
}


.waiting-wrapper{
    position: fixed;
    top:0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10000;
    background-color: transparentize($site-color-light,0.8);
    .waiting{
        position: absolute;
        font-size: 80px;
        color: $site-color-highlight;
        top: 50%;
        left: 50%;
        text-align: center;
    }
}

.caption{
    margin: 0;
}



.themed.standard {
    .page-header{
        h1,h2{
            font-size: $header-font-size-mob;
            @media (min-width: 768px){
                font-size: $header-font-size;
            }
            line-height: 1.5;
            margin:0;
            padding:0;
            font-weight: normal;
            text-align: left;
            color: $site-color-highlight;
        }
    }
    .caption{
        text-align: left !important;
        span{
            font-size: $caption-font-size-mob;
            @media (min-width: 768px){font-size: $caption-font-size;}
            line-height: 1.5;
            margin:0;
            padding:0;
            font-weight: normal !important;
            text-align: left !important;
            color: $site-color-highlight;
            border-bottom: $standard-border;
            min-width: 50%;
            display: inline-block;
        }
    }
    @media (min-width: 768px){
        min-height: 550px;
    }
}



.navbar-nav > li.li-logo > a {
    padding-top: 0;
    padding-bottom: 0;
}
.navbar-social{
    //position: absolute;
    //right: 5px;
    //top: 20px;
    
    li{
        padding: 0;
        a{
            display: block !important;
            padding: 0;
            text-align: center;            
        }
    }
    .a-soc-img.has-hover-img{
		.soc-img{display: block !important; }
		.soc-img-hover{display: none !important; }		
		&:hover{
			.soc-img{display: none !important; }
			.soc-img-hover{display: block !important; }
		}
    }
    @media (max-width: 768px) {
        width: 100%;
        margin: 0;
        padding: 0;
        text-align: center;
        li{
            padding: 0;
            width: auto !important;
        }
    }
}

.content-wrapper {
    position: relative;
    min-height: 100%;
    height: auto;
    @media (min-width: 768px) {
        //padding-bottom: 95px;
    }
}



.screen-down {
    display: none;
    position: fixed;
    right: 10px;
    top: auto;
    z-index: 99;
    opacity: 0.7;

    bottom: 41px;
    z-index: 10;
    opacity: 0.7;
    //left:0;
    //right: 0;
    &:hover{
        opacity: 1;
    }
    a{
        background: url(img_path('bottom.png')) no-repeat 50% 50%;
        width: 56px;
        height: 56px;
        margin: 0 auto;
        display: block;
        text-transform: uppercase;
        text-decoration: none;
        line-height: 1;
        cursor: pointer;
        color: #FFF;
        *{color: #FFF; display: block; font-size: 60px; line-height: 1; position: relative; top:-10px;}
    }
}
.screen-down-home{
    position: absolute;
    display: block;
    bottom: 20px;
    z-index: 10;
    opacity: 0.9;
    left:0;
    right: 0;
}

.to-the-top{
    display: none !important;
    position: fixed;
    bottom: 100px;
    right: 10px;
    top: auto;
    z-index: 99;
    opacity: 0.5;
    font-size: 35px;
    text-decoration: none !important;
    padding: 5px 10px;
    color: $site-color-selected;
    background: #000;
    &:hover{
        opacity: 1;
        background-color: transparentize(#000, 0.5);
    }

    @media (max-width: 768px) {
        display: none !important;
    }
}

/*
.breadcrumb-wrapper{
    border-bottom: 1px solid $site-color-silver;
}
.breadcrumb {
    padding: 8px 0;
    margin-bottom: 0;
    background-color: $site-color-bg;
    border-radius: 0;
    color: $site-color-silver;
    a{
        color: $site-color-dark;
        line-height: 16px;
    }
}
.breadcrumb, .breadcrumb a{
    font-size: 12px;
}
.breadcrumb>li+li:before{
    content: ">";
}

*/

.img-thumbnail {
    max-width: 100%;
    display: inline-block;
    height: auto;
    padding: 0;
    line-height: 1.42857143;
    border-radius: 0;
    border: 0;

    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.richtext-image.left{
    margin-right: 30px;
    float: left;
}
.richtext-image.right{
    margin-left: 30px;
    float: right;
}


/*
.ticker-wrapper{
    position: absolute;
    bottom:0;
    left:0px;
    right: 0;
    height: 40px;
    background-color: transparentize(#000, 0.5);
    //box-shadow: #6fa6bb 0px 4px 5px -1px;

    *{
        line-height: 40px;
        height: 40px;
    }
    .container{
        position: relative;
        & > * {
            position: absolute;
            top: 0;
            bottom: 0;
            white-space: nowrap;
        }
    }

    .ticker-head{
        left: 0;
        width: 150px;
        background-color: $site-color-highlight;
        color: $site-color-dark;
        //font-family: $font-bold;
        font-size: 23px;
        text-align: center;
    }
    .ticker-last{
        width: 275px;
        right: 0;
        background-color: $site-color-highlight;
        color: $site-color-dark;
        text-align: center;
        span{
            //font-family: $font-bold;
        }
    }
    .ticker-body{
        left: 150px;
        right: 275px;
        text-align: left;
        overflow: hidden;
        background-color: $site-color-silver;
        ul{
            display: inline;
            li{
                display: inline;
                a{
                    position: static !important;
                    //color: #0065b8;
                    //font-family: $font-bold;
                }
            }
        }
    }
}



.block-image{
    position: relative;
    .text{
        position: absolute;
        width: auto;
        height: auto;
        font-size: 25px;
        padding: 20px;
    }

    $margin: 600px;

    .position-top-left{ top:0; width: $margin; left: 50%; margin-left: -$margin; }
    .position-top{ top:0; width: $margin*2; left: 50%; margin-left: -$margin;}
    .position-top-right{top:0; width: $margin; right: 50%; margin-right: -$margin;}

    .position-bottom-left{bottom: 0; width: $margin; left: 50%; margin-left: -$margin; }
    .position-bottom{bottom:0; width: $margin*2; left: 50%; margin-left: -$margin; }
    .position-bottom-right{bottom:0; width: $margin; right: 50%; margin-right: -$margin; }
    @media (max-width: 768px) {
        .text{
            position: relative;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: 0;
        }
    }
}

.block-images-set{
    h3{
        margin-left:10px;
        margin-right:10px;
    }
    h5{
        font-size: 17px;
        margin-left:10px;
        margin-right:10px;
    }
    ul,li{
        list-style: none;
        padding-left: 0;
    }
    ul{
        text-align: center;
        overflow: hidden;
        //white-space: nowrap;
        font-size: 0;
        li{
            width: 400px;
            height: 400px;
            vertical-align: top;
            display: inline-block;
            height: 100%;
            a{
                color: #000;
                &:hover{
                    color: $site-color-hover;
                    text-decoration: none;
                }
            }
            .text-thumbnail{
                display: block;
            }
            .img-thumbnail{
                height: 400px;
                display: block;
                //border: 2px solid $site-color-silver;
                margin: 0 auto;
            }
        }
    }
}
*/
.errorlist{
    padding-left:0;
    li{
        list-style: none;
        color: $site-color-error;
    }
}


/*.header-bordered{
    border-bottom: $standard-border;
    padding-bottom: 1px;
    margin-bottom: 10px;
    h2{
        margin: 0;
        padding: 0;
        //font-weight: bold;
    }
    ul{
        position: relative;
        top: 5px;
        li{
            display: inline-block;
            padding: 0 5px 0 8px;
            line-height: 1;
            a{
                color:#373B3D;
                text-decoration: none;
                font-size: 25px;
                &:hover{
                    color: $site-color-hover;
                }
            }

        }
        li:not(:first-child){
            border-left: 1px solid #373B3D;
        }
    }
}*/

.list{
    padding:0;
    list-style: none;
    .item-list{
        padding:0;
    }
}

.iscroller{
    //.carousel.slide
    .carousel{
        .carousel-inner{
            .item{
                .iscroller-item{
                    vertical-align: top;
                    display: inline-block;
                }
            }
        }
    }
/*     .carousel-control{
        span{
            color: $site-color-highlight;
        }
    } */
}

.modal-body{
    .bg{
        position: absolute;
        z-index: -1;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }
    .brd{
        border: 4px solid $site-color-highlight;
        padding: 10px;
        @media (min-width: 768px) {
            border-width: 8px;
            padding: 10px 40px;
        }
    }
}
.modal-form{
    .modal-body{
        background: none;        
    }
}

.form-links{
	margin-bottom: 30px;
}

.btn-form{    
    border: none;
    background: $site-color-red;
    color: $site-color-white !important;
    font-size: 28px;
    font-weight: bold;
    &:hover{
        background: $site-color-hover !important;
    }
}


.body-text{
    padding: 0px 0;
}

.standard{
    min-height: 400px;
}


/*.press,
.home-social-feed,
.social-feed {    
    @media (min-width: 768px){        
        .list-item{
            width: 250px;
            height: 250px;
            margin: 5px;
        }
    }    

    .list-item{
        @media (max-width: 768px) { width: 200px; height: 200px; margin: 5px 0; }
        @media (max-width: 340px) { width: 180px; height: 180px; margin: 5px 0; }
    }
}


.press{
    margin-top: 0;
    h2{
        color: $site-color-light;
    }    
    padding-bottom: 50px;
}
*/






/*.bottom-slide{
    @media (max-width: 768px){
        &:after{
            content: " ";
            display: block;
            padding-top: 60% !important;
        }
        img{
            width: auto !important;
            height: 100% !important;
        }
    }
    .carousel{
        .carousel-caption {
            background-color: transparentize(#FFF, 0.4);
            text-align: center;
            padding: 20px;
            position: absolute;
            text-shadow: 0 0 0 rgba(0, 0, 0, 0);
            margin: 0;

            top: auto;
            width: 90%;
            bottom: 20px !important;
            left: 50%;
            transform: translateX(-50%);
            -ms-transform: translateX(-50%);
            @media (min-width: 768px){
                max-width: 80%;
                width: auto;
                margin:0 auto;
                bottom: auto !important;
                right: auto !important;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
            }

            *{
                color: #000;
                text-align: center;
                @media (max-width: 768px){
                    font-size: 17px;
                }
            }
        }
    }
}
*/

.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'FontAwesome';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

// Individual icons
.glyphicon-chevron-left           { &:before { content: "\f053"; } }
.glyphicon-chevron-right          { &:before { content: "\f054"; } }



.modal-backdrop.in{
    background: transparentize(#000, 0.14);
}
.modal-content,
.modal-header{
    border-radius: 0;
    border: 0;    
    
}
.modal-body{
    border-radius: 0;    
    color: #000;
    padding: 20px;
    img{ max-width: 100%; }
    .dates{ font-size: 20px; padding: 10px 20px; }
    .text{ font-size: 16px; padding: 0 20px 20px 20px; }
}

.modal.vertical-centered{
    position: fixed !important;
}

.modal-header-brand{
    //background: $site-color-dark;
    //background: #FFF;
    border-bottom: $standard-border;
    padding-top: 15px;
    *{color: $site-color-highlight;}
    .navbar-brand{
        background: url(img_path('logo.png')) no-repeat center center;
        width: 165px;
        height: 55px;
        float: none;
        margin: 0 auto;
        top: 8px;
        left: 6px;
        background-size: contain;
    }
    .modal-title{
        display: none;
        margin-top: 6px;
        font-weight: bold;
        color: $site-color-highlight;
    }
    .close{
        font-size: 32px;
        position: absolute;
        top: 22px;
        right: 10px;
        line-height: 1;
        display: block;
        opacity: 0.7;
        height: 30px;
       
        .icon-bar{
            /*float: left;
            clear: left;
            height: 3px;
            width: 25px;
            background-color: $site-color-highlight;
            position: relative;*/
            display: none;
        }
/*
        .icon-bar.i2 {
            display: block !important;
            transform: rotate(45deg) !important;
            -webkit-transform: rotate(45deg) !important;
            top: 2px !important;
        }
        .icon-bar.i3 {
            display: block !important;
            transform: rotate(-45deg) !important;
            -webkit-transform: rotate(-45deg) !important;
            top: -1px !important;
        }
*/
        &:hover{
            opacity: 1;
        }
    }
}

.errorlist,
.errorlist *{color: $site-color-red !important;}

form{
    .has-errors{
        .req{color: $site-color-red;}
        .has-field-error{ input, textarea{border: 1px solid $site-color-red !important;} }
    }
    .widget-captchatextinput{
        img{
            width: 80px;
            height: 35px;
            float: left;
        }
        input{
            width: 100px;
            float: left;
            margin-left: 5px;
        }
    }
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}

.zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
}



.menu-widget{
    @media ( min-width: 768px ){ padding: 0 50px; }
    table{
        width: 100%;
        *{
            text-align: left;
        }
        .price{ width: 10%;}
        .serving{width: 12%;}
        .abv{width: 10%;}
    }
}

#formThanks{
    .modal-body{
        padding: 20px;
    }
}
#formPopup{
    .modal-body{
        padding: 0px;
    }
    iframe{
        height: 450px;
    }
}

img.richtext-image{
	max-width: 100%;
	height: auto;
}




.wagtail-userbar--bottom-right {
    bottom: 7em !important;
    right: 2em;
}