{% load i18n static wagtailcore_tags wagtailimages_tags wtpages_tags %}

<div class="iscroller list-wrapper" data-item-min-width="250" data-item-max-width="380" data-rows="{{rows}}" data-cols="{{cols}}">
	<div class="iscroller-items list hidden">
    {% for pp in social_content_items|dictsortreversed:"feed_datetime" %}
    {% if not pp.invalid %}
    <div class="iscroller-item list-item {{ pp.socn }} js-filtered" data-filtered="all {{ pp.socn }}">
    	<div>
       {% if pp.feed_image %}
       		{% image pp.feed_image fill-200x200-c100 as carouselimagedata %}
       		<div class="img">
            	<img src="{{ carouselimagedata.url }}" alt="{{ carouselimagedata.alt }}" />
            </div>
            <div class="img-overlay"></div>
       {% else %}
	        <div class="text-wrapper {% if pp.feed_image %}text-wrapper-hiding{% endif %} vertical-centered"><div>
	            <h4 class="text-center">{{ pp.feed_datetime }} - {{ pp.feed_text | safe }}</h4>
	        </div></div>
	   {% endif %}	
	   {% if pp.feed_link %}<a target="_blank" href="{{ pp.feed_link }}"></a>{% endif %}
	   </div>	
	</div>
	{% endif %}
	{% endfor %}
	</div>
</div>