@import "css/config";


.timeline-inline{
	margin-bottom: 30px;	
	.year{
		margin-bottom: 20px;
		h3{
			font-weight: bold;
		}
	}
	.text-wrapper{
		margin-top: 100px;
	}
	
	img{
		max-width: 100%;
	}
	
	@media screen and (min-width: 768px){
		margin-top: 30px;
		position: relative;		
		&:before{
			content: " ";
			display: block;
			position: absolute;				
			left: 50%;				
			top: 0px;
			bottom: 0px;
			border-left: 2px solid $site-color-gold;			
		}
		.text-wrapper{
			padding: 0 40px;
			padding-bottom: 50px;
		}
		.image-wrapper{		
			margin-top: -30px;
			.year{
				position: relative;
				h3{
					font-size: 30px;					
					display: inline-block;
					border-bottom: 1px solid $site-color-gold;
					margin: 0;
					padding: 10px;		
				}
				
				&:before{
					content: " ";
					display: block;
					position: absolute;				
					bottom: 0px;				
					border-bottom: 1px solid $site-color-gold;			
				}	
			}
		}  
		
		&>.row{
			&.odd{
				.image-wrapper .year:before{
					left: 50%;
					right: -123px;		
				}	
			}
			&.even{
				&>div{
					float: right;
				}
				.image-wrapper .year:before{
					right: 50%;
					left: -123px;		
				}	
			}
		}
	}	
}


section.slide-big.timelinepage{
	z-index: 1;
	position: relative;
	margin: 0;
	.carousel-wrapper{
		z-index: 1;
		bottom: 0px;
	}	
	@media screen and (min-width: 768px){
			&:after {
			    content: none;		    
			}
			height: 100%;
	}		
			
	
	.carousel.slide.slideshow{
		.timeline-caption-wrapper{			
			@media screen and (min-width: 768px){
				position: absolute;
				top: 185px;				
				right: 0px;
				bottom: 120px;
				overflow: auto;
				width: 643px;
				padding: 20px;
			}			
			.timeline-caption{
				position: absolute;				
				left: 0px;				
				right: 0px;
				bottom: 0px;
				padding: 20px;		
				//border: 2px solid $site-color-gold;
				background-color: $site-color-white; 
				background-color: transparentize($site-color-white, 0.14);
				padding: 15px 15px;
				
				.page-header.outside{
		
					@media (min-width: 768px) {
						padding: 0;
						padding-bottom: 10px;
					}
					
					.title{
						padding: 5px 0px;
						@media screen and (min-width: 768px){
							font-size: 24px;
						}
						border-bottom-width: 3px;
						@media (min-width: 768px) {
							display: block;
							text-align: left;
						}	
					}
				}							
			}
			
		}
		
	}	
}




		.time-line-nav{
			@media screen and (max-width: 767px){
				position: relative;
			}
			@media screen and (min-width: 768px){
				position: absolute;
			}
			z-index: 10;
			right: 0px;
			left: 0px;
			bottom: 0px;
			height: 100px;				
			overflow: hidden;
			background-color: transparentize($site-color-dark, 0.34);
			color: $site-color-white;
			text-transform: uppercase;
			&:before{
				content: " ";
				display: block;
				position: absolute;
				top: 50%;
				left: 0;
				right: 0;
				border-top: 3px solid $site-color-gold;
			}
			
			&>div{
				position: absolute;
				height: 100%;
				@include transition;
			}
			.carousel-control{
				display: block;
				position: absolute;
				z-index: 2;
				width: 40px;
				top: 0px;
				height: 100px;
				line-height: 100px;
				font-size: 24px;
			}
			
			table{
				height: 100%;
			}
			
			tr:nth-child(1){
				td.year{
					&>div{
						&:after{
							content: " ";
							display: block;
							position: absolute;
							top: 5px;
							right: -21px;
							bottom: -25px;						
							border-right: 3px solid $site-color-gold;
						}
					}
				}
			}
			
			tr:nth-child(2){
				td.year{
					&>div{
						&:after{
							content: " ";
							display: block;
							position: absolute;
							bottom: 5px;
							right: -21px;
							top: -25px;						
							border-right: 3px solid $site-color-gold;
						}
					}
				}
			}
			
					
			
			td{
			
				&.active, &:hover, &.hover{
					color: $site-color-gold;
				}
			
				@media screen and (max-width: 767px){
					font-size: 10px;
					line-height: 1;
				}
				@media screen and (min-width: 768px){
					white-space: nowrap;	
				}
				
				cursor: pointer;
				padding: 0 20px;
				vertical-align: middle;
				height: 50%;				
				&.year{
					@media screen and (min-width: 768px){
						font-size: 24px;
					}
					font-weight: bold;
				}
				
				&>div{
					position: relative;
					@media screen and (max-width: 767px){
						min-width: 130px;
					}
					@media screen and (min-width: 768px){
						min-width: 200px;
					}
				}
			}
		}
		
		
		
		