@import "css/config";

.homepage{
	
	.slide-big{
		z-index: 1;
		
		
		
		.btn-primary, .btn-primary:after{
			border-color: #fff ;
			color: #fff;
		}
		
	}
	/*.slide-big:after{        
        padding-top: 48.958%;
     }*/
	
	.page-header.inside{
		border: none;
	}
	
	section.subpage.subpage-0{
		margin-top: 20px;
	}
	
	.home-brand{
		
		//@include transition;
		
		position: absolute;
		z-index: 100;
		top: 70px;
		bottom: 70px;
		left: 0;
		right: 0;
		text-align: center;
		
		table{
			width: 100%;
			height: 100%;
			td{
				text-align: center;
				vertical-align: middle;
				
				.rich-text{
					color: $site-color-white;
					text-transform: uppercase;				
					@media (max-width: 991px){
						font-size: 24px;
					}
					@media (min-width: 992px){
						font-size: 30px;
					} 
				}
				
			}
		}
		
		
		
		/*&:before{
			content: " ";				
			display: inline-block;
			height: 100%;
			vertical-align: middle;
		}
		&>div {
	        display: inline-block;
	        white-space: normal;
	        vertical-align: middle;
	        text-align: center;
	        
	        
	        
    	}*/
		
		img{
			display: inline-block;
			vertical-align: middle;
			max-width: 510px;
			@media (max-width: 776px) {
				max-width: 150px;
			}
			@media (min-width: 768px) and (max-width: 991px) {
				max-width: 300px;
			}
			@media (min-width: 992px) and (max-width: 1200px) {
				max-width: 400px;
			}
			max-height: 100%;			
		}
		
						
	}
	
	
}

$driskill-mark-size: 120px;

section.subpage.home-boxes{
	a{
		display: block;
		position: absolute;
		background-color: #000; 
		z-index: 2;
		left: 0;
		top: 0;
		bottom: 0;
		right: 0;		
		z-index: 100;
		opacity: 0;
		&:hover{
			opacity: 0.3;
		}
	}
	.vertical-centered{
		z-index: 22;
		&>div{
			text-align: center;
			color: $site-color-white;
			@media (max-width: 991px){
				font-size: 24px;
			}
			@media (min-width: 992px){
				font-size: 50px;
			}			
			text-transform: uppercase;
			border-bottom-width: 15px;
			border-bottom-style: solid;
		}
	}
	.driskill-mark{
		display: block;
		height: $driskill-mark-size;
		width: $driskill-mark-size;
		margin: 0 auto;
		margin-bottom: 20px;		
	}
	@media (min-width: 768px){
		&>.container-fluid{
			position: relative;
		}		
		.driskill-mark{
			position: absolute; 
			z-index: 2;
			left: 50%;
			top: 50%;
			margin-top: -($driskill-mark-size / 2);
			margin-left: -($driskill-mark-size / 2);
		}		
		&>div>div>.img{
			&:nth-child(1){
				border-right: 1px solid $site-color-white;		
				border-bottom: 1px solid $site-color-white;
			}
			&:nth-child(2){
				border-left: 1px solid $site-color-white;		
				border-bottom: 1px solid $site-color-white;
			}
			&:nth-child(3){
				border-right: 1px solid $site-color-white;		
				border-top: 1px solid $site-color-white;
			}
			&:nth-child(4){
				border-left: 1px solid $site-color-white;		
				border-top: 1px solid $site-color-white;
			}
		}
	}
	
	
	.img{
					
		&:after{
			padding-top: 66.977363515%; 
		}
		.carousel-wrapper{
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
		}
	}
}


.home-bottom-text{
	&:before, &:after{
		content: " ";
		display: block;
		width: 574px;
		max-width: 80%;
		margin: 0 auto;
		border-top: 1px solid $site-color-gold;
		margin-top: 30px;
		padding-bottom: 30px;
	} 	
}





.home-page-instagram{	
	.title{
		border-bottom: none !important;
	}	
		
}

