{% load wagtailcore_tags wagtailimages_tags %}

{% if news %}
  <div class="panel panel-default announcement announcement-blocks">
    <h2>Новости лицея</h2>
    <div class="row">
      {% for anews in news %}

        <a class="nb-item col-lg-3 col-md-6" href="{% pageurl anews %}">
          <div class="media">
            {% if anews.image %}
              <div class="">
                {% image anews.image fill-225x150-c100 as img %}
                <img class="media-object" style="width:100%;" src="{{ img.url }}" />
              </div>
            {% endif %}
            <h4 class=""><small>{{ anews.date }}</small>{{ anews.title }}</h4>
            <div class="body">
              {% if anews.intro %}
                <p>{{ anews.intro |richtext }}</p>
              {% endif %}
            </div>
          </div>
        </a>

      {% endfor %}
    </div>

    <div class="text-center">
    <a class="all-records glyphicon glyphicon-chevron-right pull-right" href="{% pageurl all_news %}"><span>Все новости</span></a>
    </div>
  </div>
{% endif %}
