@import "css/config";


.socialfeedpage{
    .content-wrapper{
        height: 100%;
    }
    .content-box{
    }
    .social-feed{
        position: relative;
        @media (min-width: 768px) {
            position: absolute;
            left: 0;
            right: 0;
            top: 170px;
            bottom: 80px;
        }
    }
    @media (max-width: 768px) {
        .slide-full{
            height: 300px;
        }
    }
}


.social-filter{    
    
    .in:before{
        content:"Instagram";
    }
    .fb:before{
        content:"Facebook";
    }
    .tw:before{
        content:"Twitter";
    }
}


// section.subpage.socialfeedpage{
//     padding: 8px;
//     overflow: hidden;
//     margin-top: 20px;
// }

.social-feed{
    padding:{
    	top: 8px;
    	bottom: 8px;    	 
    } 
    overflow: hidden;
    padding-top: 28px;
//     @media (min-width: 768px){
//         margin: 0 100px 50px 100px;
//     }
    .list-item{
    	//&.fb:before{ content:"\f09a"; color: $color-fb; }
        &.fb>div:before{ content:"\f230";  background: #fff;}
        &.in>div:before{ content:"\f16d"; color: $color-in; }
        &.tw>div:before{ content:"\f099"; color: $color-tw; }
        &.fb>div {
            color: $color-fb;
            *{color: $color-fb;}
            & > img,
            & > .text-wrapper{border: 1px solid $color-fb;}
        }
       
    	&>div{
        border: 3px solid #ccc;
        //display: inline-block;
        position: relative;
        overflow: hidden;
        padding: 0;
        background: #fff;

        //width: 250px;
        //height: 250px;
        
        margin: 5px;
//         @media (max-width: 768px) { width: 200px; height: 200px; }
//         @media (max-width: 340px) { width: 180px; height: 180px; }

		&:after{
       		content: " ";
        	display: block;
        	padding-top: 100%;       	
        }
        &:before{ z-index: 1001; font-family: FontAwesome; position: absolute; left: 5px; /*right: 0; */top: 6px; font-size: 32px; line-height: 26px; border-radius: 2px;}

        &:hover{
            //.img-overlay, .text-wrapper-hiding{ display: none; }
        }
        a,
        .img-overlay{
            position: absolute;
            top:0;
            bottom:0;
            left: 0;
            right:0;
            z-index: 1000;
        }
        .img{         
            position: absolute;
            z-index: 9;
            top:0;
            bottom:0;
            left: 0;
            right:0;
            background-size: cover;
        }
        .text-wrapper{
            z-index: 900;
        }
        h4{
            margin:0;
            padding:10px;
            z-index: 2;
            //font-family: $font-text;
            color: #000;
            font-size: 16px;
            text-align: center;

            position: relative;
            width: 100%;
            //height: 100%;
            max-height: 125px;
            overflow: hidden;
        }
       
    }
   }
}