{% load wagtailcore_tags wagtailimages_tags wtpages_tags %}

{% if self.carousel_items.all %}
    <div class="image-header">
    {% include "wtpages/includes/carousel.html" with show_controls=True carousel_items=self.carousel_items.all only %}
    </div>
{% endif %}

{% comment %}
{% if flavour == 'mobile' %}data-rows="1" data-cols="1" {% else %}data-rows="2" data-cols="0" {% endif %}
{% endcomment %}

<div class="themed themed-{{self.theme.id}} container-fluid gallery-stripe {{subpage_index}}">
    <div class="gallery-container">
        {% if self.body %}<div class="body-text">{{ self.body|richtext }}</div>{% endif %}
        
        {% if not request.is_phone %}
            {% image images.0 original as orig %}
            <div data-id="thumb-{{images.0.id}}" class="gallery-image" style="background-image:url({{orig.url}});"></div>
            <div class="gallery-image-tmp"></div>
            
            <a class="left carousel-control" href="#"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span><span class="sr-only">Previous</span></a>
            <a class="right carousel-control" href="#"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span><span class="sr-only">Next</span></a>
        {% endif %}
        
        <div class="thumbnails">
        <div class="thumbnails-inner">
        
            <ul class="js-filter-wrapper list pull-right" data-filter=".js-gallery-filtered" >
            <li><a class="text-uppercase js-filter-contol" data-filter-val="all" href="#all">All</a></li>
            {% for coll in self.collection_items.all %}
                <li><a class="text-uppercase js-filter-contol" data-filter-val="{{ coll.collection_id }}" href="#{{ coll.collection_id }}">{{ coll.caption }}</a></li>
            {% endfor %}
            </ul>
            
            <a class="js-hide-thumbnails hidden-xs text-uppercase" data-text_hide="Hide thumbnails" data-text_show="Show thumbnails" href="#">Hide thumbnails</a>
        
            <div class="border">
                <h2 class="text-center text-uppercase">{{self.title}}</h2>
                
                <div class="iscroller list-wrapper no-default" 
                    {% if request.is_phone %}data-rows="2" data-cols="1" {% else %}data-rows="1" data-cols="0" {% endif %}
                >
                <div class="iscroller-items list hidden-xs hidden-sm hidden-md hidden-lg">
                    {% for im in images %}
                    {% image im original as orig %}
                    <div class="iscroller-item list-item thumbnail js-gallery-filtered" data-filtered="all {{ im.collection_id }}" >
                        <a class="thumb-{{im.id}}" data-id="thumb-{{im.id}}" 
                            data-title="{{ im.caption|linebreaks }}"
                            {% if request.is_phone %}
                            {% else %}
                            href="{{ orig.url }}" 
                            {% endif %}
                        >
                            {% if request.is_phone %}
                                {% image im fill-768x460-c100 as carouselimagedata %}
                            {% else %}
                                {% image im fill-100x60-c100 as carouselimagedata %}
                            {% endif %}
                            <img src="{{ carouselimagedata.url }}" style="" alt="{{ carouselimagedata.alt }}" />
                        </a>
                    </div>
                    {% endfor %}
                </div>
                </div>
                
            </div>
        </div>
        </div>
        
    </div>
    
</div>
