{% load wagtailcore_tags wagtailimages_tags wtpages_tags %}

<section class="themed themed-{{self.theme.id}} subpage gallery has-navbar {{subpage_index}}">
    <div class="container gallery-container">

    	<div class="page-header outside inlinepage text-center clearfix ">
		   	<h1 class="title">{{ self.title }}</h1>
		    <ul class="nav navbar-nav page-navbar text-uppercase js-filter-wrapper list" data-filter=".js-gallery-filtered">
				<li><a class="text-uppercase js-filter-contol" data-filter-val="all" href="#all">All</a></li>
		        {% for coll in self.collection_items.all %}
		           <li><a class="text-uppercase js-filter-contol" data-filter-val="{{ coll.collection_id }}" href="#{{ coll.collection_id }}">{{ coll.caption }}</a></li>
		        {% endfor %}
			</ul>
		</div>

    	
    
        <div class="iscroller list-wrapper" {% if request.is_phone %}data-rows="1" data-cols="1" {% else %}data-rows="3" data-cols="0" {% endif %}>
        <div class="iscroller-items list hidden">
        {% for im in images %}
        <div class="iscroller-item list-item js-gallery-filtered" data-filtered="all {{ im.collection_id }}" >
        	<div>
            {% image im max-1300x1300 as orig %}                
            <a href="{{ orig.url }}" 
                class="modal-carousel" 
                rel="gallery" 
                data-id="{{ im.id }}" 
                data-title="{{ im.caption|linebreaks }}"
                {% comment %}
                data-toggle="lightbox" 
                data-gallery="navigateTo" 
                {% endcomment %}
            >
            <div class="img">
                {% image im fill-250x250-c100 as carouselimagedata %}
                <img src="{{ carouselimagedata.url }}" style="" alt="{{ carouselimagedata.alt }}" />
<!--
                <div class="text-center">{{ im.title }}</div>
-->
			</div>
            </a>
            </div>
        </div>
        {% endfor %}
            
        </div>
        </div>
        
    </div>
</section>
