{% load wagtailcore_tags wagtailimages_tags  wtpages_tags %}

<div class="themed themed-{{self.theme.id}} container-fluid gallery {{subpage_index}}">
    <div class="container header-bordered">
        <h2 class="text-left pull-left text-uppercase">{{self.title}}</h2>

        <ul class="js-filter-wrapper list pull-right" data-filter=".js-gallery-filtered" >
        <li><a class="text-uppercase js-filter-contol" data-filter-val="all" href="#all">All</a></li>
        {% for tag in self.tags.all %}
            <li><a class="text-uppercase js-filter-contol" data-filter-val="{{ tag }}" href="#{{ tag }}">{{ tag }}</a></li>
        {% endfor %}
        </ul>
    </div>

    {% if self.carousel_items.all %}
        <div class="image-header">
        {% include "wtpages/includes/carousel.html" with show_controls=True carousel_items=self.carousel_items.all only %}
        </div>
    {% endif %}

    <div class="container gallery-container">
        <div class="body-text">{{ self.body|richtext }}</div>

        <div class="iscroller list-wrapper" {% if flavour == 'mobile' %}data-rows="1" data-cols="1" {% else %}data-rows="2" data-cols="0" {% endif %}>
        <div class="iscroller-items list hidden-xs hidden-sm hidden-md hidden-lg">
        {% for pp in self.gallery_items.all %}
            <div class="iscroller-item list-item js-gallery-filtered" data-filtered="all {% for tag in pp.image.tags.all %}{{ tag }} {% endfor %}" >
                {% image pp.image original as orig %}
                <a href="{{ orig.url }}" class="" data-toggle="lightbox" data-gallery="navigateTo" data-title="{{ pp.caption|linebreaks }}">
                    {% image pp.image fill-330x330-c100 as carouselimagedata %}
                    <img src="{{ carouselimagedata.url }}" style="" alt="{{ carouselimagedata.alt }}" />
                    <div class="text-center">{{ pp.title }}</div>
                </a>
            </div>
        {% endfor %}
        </div>
        </div>
    </div>
</div>
