{% load wtpages_tags wagtailcore_tags %}

<ul >
    {# Include link to parent because the parent link is a drop down #}
    {% comment %}
    <li><a href="{% pageurl parent %}">{{ parent.title }}</a></li>
    {% endcomment %}

    {% for child in menuitems_children %}
        <li><a href="{% pageurl child %}">{{ child.title }}</a></li>
    {% endfor %}
</ul>
