{% load wagtailcore_tags  %}

{% if ancestors %}
<div class="breadcrumb-wrapper">
  <ol class="breadcrumb container">
    {% for ancestor in ancestors %}
      {% if forloop.last %}
        <li class="active">{{ ancestor }}</li>
      {% else %}
        <li><a href="{% pageurl ancestor %}">{{ ancestor }}</a></li>
      {% endif %}
    {% endfor %}
  </ol>
</div>
{% endif %}
