{% load wagtailcore_tags static wtpages_tags %}

{% if menuitems %}
<ul class="nav navbar-nav page-navbar text-uppercase">
{% for menuitem in menuitems %}<li class="{% if menuitem.active %}active{% endif %} first-{{forloop.first}} last-{{forloop.last}}">
	{% if menuitem.specific.link %}
    	<a {% if menuitem.specific.external %}target="_blank"{% endif %} href="{{ menuitem.specific.link }}">{{ menuitem.title }}</a>
	{% elif menuitem.specific.form.pk %}	
      	<a data-wtform="{{ menuitem.specific.form.pk }}" class="wtform-modal-link" href="#">{{ menuitem.title }}</a>
	{% else %}
        <a href="{% pageurl menuitem %}">{{ menuitem.title }}</a>
    {% endif %}
	</li>{% endfor %}
</ul>
{% endif %}