{% load wtpages_tags wagtailcore_tags %}

{% if sitelinks %}
<div class="panel panel-default announcement announcement-blocks padding sitelinks-wrapper">
  <h2>Спецпроекты</h2>

  <ul class="sitelinks-list list-inline text-center">
    {% for sitelink in sitelinks %}
      <li>
        {% if sitelink.url %}
          <a href="{{ sitelink.url }}">
        {% elif sitelink.page %}
          <a href="{% pageurl sitelink.page %}">
        {% endif %}
          {{ sitelink.text }}
        {% if sitelink.url or sitelink.page %}</a>{% endif %}
      </li>
      {% if not forloop.last %}<li><strong>·</strong></li>{% endif %}
    {% endfor %}
  </ul>
</div>
{% endif %}
