{% load wagtailcore_tags  %}
{% if pages %}
    <div class="list-group">
        {% for page in pages %}
            <a class="list-group-item" href="{% pageurl page %}">
                <h4 class="list-group-item-heading">{{ page.title }}</h4>
                {% if page.search_description %}
                    <p class="list-group-item-text">{{ page.search_description }}</p>
                {% endif %}
            </a>
        {% endfor %}
    </div>
{% endif %}