{% load wagtailcore_tags i18n wagtailimages_tags wagtailembeds_tags %}

<div class="ticker-wrapper">
    <div class="container">
        <div class="ticker-head">Новости</div>
        <div class="ticker-body">
            <ul>
            {% for ticker in tickers %}
                <li><a {% if ticker.link %} href="{{ ticker.link }}" {% endif %}>{{ ticker.title }}</a> {{ ticker.text }}</li>
            {% endfor %}
            </ul>
        </div>
        <div class="ticker-last">{{ currates|safe }}</div>
    </div>
</div>
