{% load wagtailcore_tags wtpages_tags %}

<ul {% if dropdown %}class="dropdown-menu"{% endif %}>
    {% for child in menuitems_children %}
        <li>
        {% if child.specific.link %}
            <a {% if child.specific.external %}target="_blank"{% endif %} href="{{ child.specific.link }}">{{ child.title }}</a>
        {% elif child.specific.form.pk %}	
        	<a data-wtform="{{ child.specific.form.pk }}" class="wtform-modal-link" href="#">{{ child.title }}</a>
		{% else %}
             <a href="{% pageurl child %}">{{ child.title }}</a>
        {% endif %}
        </li>
    {% endfor %}
</ul>
