{% load static i18n wagtailcore_tags wagtailimages_tags wtpages_tags menu_tags %}
{% get_site_root as site_root %}
{% get_contact_page as contact %}
{% get_settings as settings %}

{% comment %}
{% if site_root.id != calling_page.id %} affix{% endif %}
{% if settings.MAIN_MENU_AFFIX %} affix-top"  data-spy="affix" data-offset-top="100"{% endif %}
{% endcomment %}

<nav class="navbar navbar-custom navbar-static-top text-uppercase {% if settings.MAIN_MENU_AFFIX %} affix-top" data-spy="affix" data-offset-top="100"{% else %}"{% endif %} >
	<div class="container-fluid">
	
		<!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" href="{% pageurl site_root %}" title="{{ site_root.title }}">
	      	<img class="logo" src="{% static 'images/logo.png' %}">	      	
	      	<img class="logo-white" src="{% static 'images/logo_white.png' %}">	      	
	      </a>	      
	    </div>
	    
	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="navbar-collapse-1">
	      <ul class="nav navbar-nav navbar-nav-center navbar-nav-1 navbar-main">
      		{% comment %}
	      	<li class="hidden-xs"></li>
	      	{% endcomment %}  	
	      	{% for menuitem in menuitems %}
	      	  {% if menuitem.is_logo %}                            
              	<li class="hidden-xs"></li>
	      	    <li class="stretcher hidden-xs"></li>
              	</ul><ul class="nav navbar-nav navbar-nav-center navbar-nav-2 navbar-main ">
              	<li class="hidden-xs"></li>  
              {% else %}
              	<li class="{% if menuitem.show_dropdown %}dropdown{% endif %}{% if menuitem.active %} active{% endif %}">
                    {% if menuitem.show_dropdown %}
                        <a target="_self" href="{% pageurl menuitem %}">{{ menuitem.title }}{% comment %} <b class="caret"></b>{% endcomment %}</a>
                        {% top_menu_children parent=menuitem %}
                    {% elif menuitem.specific.link %}
			            <a {% if menuitem.specific.external %}target="_blank"{% endif %} href="{{ menuitem.specific.link }}">{{ menuitem.title }}</a>
			        {% elif menuitem.specific.form.pk %}	
			        	<a data-wtform="{{ menuitem.specific.form.pk }}" class="wtform-modal-link" href="#">{{ menuitem.title }}</a>
					{% else %}
			             <a href="{% pageurl menuitem %}">{{ menuitem.title }}</a>
			        {% endif %}    
                 </li>                                                   
              {% endif %}
            {% endfor %}      		      	
	      	{% comment %}
	      	<li class="hidden-xs"></li>	      	
	      	<li class="stretcher hidden-xs"></li>
	      	{% endcomment %}	      	
	      </ul>
	      {% flat_menu 'header_links' %}
	    </div>
	    
	    
	    	    
	    
	    {% comment %}
	    <a class="order-online-button hidden-xs" href="#">Book A Room</a>
	    {% if contact.open_table_id %}	      	
	     	<a target="_blank" class="reservations-button hidden-xs" data-toggle="modal" data-target="#reservation-box" href="http://www.opentable.com/single.aspx?rid={{contact.open_table_id}}&restref={{contact.open_table_id}}">Reservations</a>
	    {% endif %}
	    {% endcomment %}
	   	
	      	
    	
	</div>	    
</nav>

