{% load wagtailcore_tags wagtailimages_tags wtpages_tags %}

{% if self.boxes %}
	
	<div class="iscroller list-wrapper image-style-{{self.box_image_style}}" data-item-min-width="{{self.box_min_width}}" data-item-max-width="{{self.box_max_width}}" data-circular="false"  {% if request.is_phone %}data-rows="1" data-cols="1" {% else %}data-rows="{{self.box_rows}}" data-cols="{{self.box_columns}}"  {% endif %} >
	    <div class="iscroller-items list hidden">
	        
	        {% for item in self.boxes %}
		        <div class="iscroller-item list-item" >
		        	<div>
		        	  	
		        	  	{% if item.link or item.is_page  %}
		        		<a class="text-center" href="{% if item.is_page %}{% pageurl item %}{% else %}{{ item.link }}{% endif %}">
		        		{% endif %}
		        		
			            <div class="img">
			              {% if item.image %}			                  	
				                {% image item.image max-1024x1024 as carouselimagedata %}				                
				                <div class="carousel-image" style="background-image:url({{ carouselimagedata.url }})"></div>	
			                	{#<img class="hidden" src="{{ carouselimagedata.url }}" alt="{{ carouselimagedata.alt }}" />#}
			               {% endif %}
			               
			               {% if self.box_show_details_on_hover or item.link or item.is_page %}
			               <div class="vertical-centered">
			               		{% if self.box_show_details_on_hover %}
			               		<div>
			               			{% if item.caption %}
			               				<h3 class="title">{{item.caption}}</h3>
			               			{% endif %}
			               			{% if item.title and not item.hide_title %}
			               				<h4 class="title">{{item.title}}</h4>
			               			{% endif %}
			               			{% if item.title2  %}
			               				<h5 class="title2">{{item.title2}}</h5>
			               			{% endif %}
			               			{% if item.text %}
			               				<div class="text">{{item.text|richtext}}</div>
			               			{% endif %}		               			
			               		</div>
			               		{% endif %}
			               </div>
			               {% endif %}
			               
						</div>
						
						<div class="title-wrapper-outer">
						{% if self.box_show_title %}
	               			{% if item.caption %}
	               				<h3 class="title">{{item.caption}}</h3>
	               			{% endif %}
	               			{% if item.title and not item.hide_title %}
	               				<h4 class="title">{{item.title}}</h4>	               				
	               			{% endif %}
	               			{% if item.title2  %}
	               				<h5 class="title2">{{item.title2}}</h5>
	               			{% endif %}
			            {% endif %}
			            </div>
						
		        		
		        		{% if item.link or item.is_page  %}
		        		</a>
		        		{% endif %}
												            
		            </div>
		        </div>
	        {% endfor %}
	            
	    </div>
	</div>
	
	

{% endif %}
