{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}


{% block carousel_main %}
    {% include "wtpages/includes/carousel.html" with carousel_items=self.carousel_items.all only %}
{% endblock %}

{% block heading %}
  <div class="page-header">

    <div class="pull-right">
      {% for tag in self.tags.all %}
        <a href="{% pageurl self.news_index %}?tag={{ tag }}"
           class="btn btn-primary btn-xs">
          <i class="glyphicon glyphicon-tag"></i> {{ tag }}
        </a>
      {% endfor %}
    </div>

    <h2>
      {{ self.title }}
      {% if self.date %}<small> / {{ self.date }}</small>{% endif %}
    </h2>

  </div>
{% endblock %}

{% block content %}

    <div class="news{% if self.image %} has-image{% endif %}">

    {% comment %}
    {% if self.image %}
      <div class="img-wrapper">
        {% image self.image fill-300x400-c100 as img %}
        <img class="media-object" style="width:300px;" src="{{ img.url }}" />
      </div>
    {% endif %}
    {% endcomment %}

    {% include "wtblocks/includes/stream.html" with body=self.body only %}

    {% include "/related_links.html" with related_links=self.related_links.all only %}

    {% for tag in self.tags.all %}
        <a href="{% pageurl self.news_index %}?tag={{ tag }}">{{ tag }}</a>
    {% endfor %}
    </div>

{% endblock %}
