{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags wtpages_tags %}

{% block carousel_main %}
	{% if not self.page_layout == 'empty' %}
    <section class="slide-big">
      {% carousel show_controls=False carousel_items=self.carousel_items.all %}
    </section>   
    
    {% endif %}    
{% endblock %}

{% block page_header %}
	{% if not self.page_layout == 'empty' %}
	<div id="top"></div>
    <div class="page-header outside text-center">
    	<div class="title-wrapper">
        	<h1 class="title">
        		<div class="corner lt"></div>
		    	<div class="corner rt"></div>
		    	<div class="corner lb"></div>
		    	<div class="corner rb"></div>
        		<a href="{% pageurl self.top_page %}">{{ self.top_page.title }}</a></h1>
        </div>
        {% page_navbar page=self %}        
    </div>
    {% endif %}
{% endblock %}

{% block content %}

{% if not self.page_layout == 'empty'  %}
	{% if self.page_heading or self.body or self.form_links.all or self.side_carousel_items.all %}
	<section class="themed themed-{{self.theme.id}} page-layout-{{ self.page_layout }} subpage {{subpage_index}}">
		<div class="container">					
			<div class="row">
			    <div class="txt {% if 'whole' == self.page_layout %}col-xs-12{% else %}col-lg-7 col-md-6{% endif %}">
			    	{% if self.page_heading %}
			        <div class="page-header insidetext text-center">
				    	<div class="title-wrapper">
				        	<h3 class="title">
				        		<div class="corner lt"></div>
			    				<div class="corner rt"></div>
			    				<div class="corner lb"></div>
			    				<div class="corner rb"></div>
				        	{{ self.page_heading }}</h3>
				        </div>
				    </div>
				    {% endif %}	        
			        <div class="body-text">
			        <div class="container-fluid">
			        	<div class="row">
			        		<div class=" col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
			        			<div class="row">
			        	   			{% include_block self.body %}
			        	   		</div>
			        	   	</div>
			        	</div>
			        </div>
			        

			        
			        <div class="form-links">
			        {% for fr in self.form_links.all %}
		            {% include "wtforms/includes/form.html" with self=fr.form is_popup=fr.is_popup request=request form_link=fr no_image=True only %}
		        	{% endfor %}
		        	</div>
			        
			        </div>	        
			    </div>
			    {% if 'whole' != self.page_layout %}
			    <div class="img col-lg-5 col-md-6">
			    	{% carousel show_controls=False carousel_items=self.side_carousel_items.all imagesize='big_rect' carousel_style=self.side_carousel_style %}	        
			    </div>
			    {% endif %}
		    </div>
	    </div>
	</section>
	{% endif %}
{% endif %}

{% if self.subpages_inline %}
    {% get_subpages_inline parent=self show_page_header=True header_style='inside' %}
{% endif %}
    
{% endblock %}




