@import "css/config";

section.press{
	.list-item{
		.img{
			background:{
				size: contain;
				repeat: no-repeat;
				position: center center; 	
			}			
			&:after{
				padding-top: 60%;
			}
		}
		.title{
			padding-top: 10px;
			color: $site-color-text; 	
		}
	}
}