{% load wagtailcore_tags wagtailimages_tags  wtpages_tags %}

{% if self.gallery_categories %}

<section class="slide-big fullscreen-gallery">
	<div class="carousel-wrapper">
	    <div id="carousel-{{self.pk}}" class="carousel slide slideshow" data-ride="carousel" data-interval="false">
	        <div class="carousel-inner" role="listbox">
	            {% for cat in self.gallery_categories %}
		            {% for im in cat.images %}
		            <div id="img-{{im.pk}}" data-id="{{im.pk}}" class="item{% if forloop.first %} active{% endif %}">
	                    {% if request.is_phone %}
	                        {% image im max-1024x1024 as carouselimagedata %}
	                    {% else %}
	                        {% image im max-1980x1980 as carouselimagedata %}
	                    {% endif %}                    
						<div class="carousel-image" style="background-image:url({{ carouselimagedata.url }})"></div>                    
						<img class="hidden" src="{{ carouselimagedata.url }}"  alt="{{ carouselimagedata.alt }}" />
		            </div>
		            {% endfor %}
	            {% endfor %}
	        </div>
	        
	            <a class="left carousel-control hidden-xs" data-target="#carousel-{{self.pk}}"  href="#carousel-{{self.pk}}" role="button" data-slide="prev">
	        	    <span class="glyphicon glyphicon-chevron-left fa fa-angle-left" aria-hidden="true"></span>
	            	<span class="sr-only">Previous</span>
	            </a>
	            <a class="right carousel-control hidden-xs" data-target="#carousel-{{self.pk}}"  href="#carousel-{{self.pk}}" role="button" data-slide="next">
	            	<span class="glyphicon glyphicon-chevron-right fa fa-angle-right" aria-hidden="true"></span>
	            	<span class="sr-only">Next</span>
	           </a>
	               
	    </div>
    </div>    



	<section class="subpage fullscreen-gallery-controls">
		<div role="button" class="eye" data-toggle="collapse" href="#thumbnails-{{self.pk}}" aria-expanded="true" aria-controls="thumbnails-{{self.pk}}"><i class="fa fa-eye fa-2" aria-hidden="true" title="Close Thumbnails"></i></div>
		<div id="thumbnails-{{self.pk}}" class="collapse in">
		
		
	
		
	    
	  	<div class="container-fluid page-header-wrapper">
			<div class="page-header outside clearfix">
				{% if self.page_heading %}
				<div class="title-wrapper">
			   		<h1 class="title">{{ self.page_heading }}</h1>
			    </div>
			    {% endif %}				    
			    {% include "wtgallery/include/gallery_navbar.html" with self=self request=request only %}
			</div>
		</div>
	    
		{% if self.gallery_categories %}
		<div class="iscroller list-wrapper fullscreen-gallery-thumbnails hidden-xs" data-item-min-width="100" data-item-max-width="120" data-rows="1">
			<div class="iscroller-items list hidden">
			{% for cat in self.gallery_categories %}
				{% for im in cat.images %}			
					{% if request.is_phone %}
		                  {% image im max-1024x1024 as orig %}
		            {% else %}
		                 {% image im max-1980x1980 as orig %}
		            {% endif %}
								
			        <a id="thumbnail-{{im.pk}}" href="{{ orig.url }}" data-alt="{{ orig.alt }}" data-image="{{ orig.url }}" data-id="{{im.pk}}" class="iscroller-item list-item js-gallery-filtered {% if forloop.parentloop.first and forloop.first %} active{% endif %}" data-filtered="all {{ cat.pk }}" >
			        	<div>
				            <div class="img">
				                {% image im fill-250x250-c100 as carouselimagedata %}
				                <img src="{{ carouselimagedata.url }}" style="" alt="{{ carouselimagedata.alt }}" />
							</div>
			            </div>
			        </a>
				{% endfor %}
			{% endfor %}
			</div>
		</div>     
		{% endif %}
		</div>
	</section>

</section>
    



{% endif %}