{% load wagtailcore_tags wagtailimages_tags wtpages_tags %}

{% if self.gallery_categories %}
	{% if self.gallery_type == 'thumbnails' %}
        <div class="iscroller list-wrapper gallery thumbnails" {% if request.is_phone %}data-rows="1" data-cols="1" {% else %}data-rows="2" data-cols="0" {% endif %}>
	        <div class="iscroller-items list hidden">
	        {% for cat in self.gallery_categories %}
		        {% for im in cat.images %}
		        <div class="iscroller-item list-item js-gallery-filtered" data-filtered="all {{ cat.pk }}" >
		        	<div>
		            	{% image im max-1300x1300 as orig %}                
			            <a href="{{ orig.url }}" class="modal-carousel" rel="gallery" data-id="{{ im.id }}" data-title="{{ im.caption|linebreaks }}">
			            <div class="img">
			                {% image im fill-250x250-c100 as carouselimagedata %}
			                <img src="{{ carouselimagedata.url }}" style="" alt="{{ carouselimagedata.alt }}" />
						</div>
			            </a>
		            </div>
		        </div>
		        {% endfor %}
	        {% endfor %}
	        </div>
        </div>      
    {% else %}    
        
	{% endif %}	
{% endif %}
