{% if self.show_gallery_categories %}   		
<ul class="nav navbar-nav page-navbar text-uppercase js-filter-wrapper list" data-filter=".js-gallery-filtered">
	<li><a class="text-uppercase js-filter-contol" data-filter-val="all" href="#all">All</a></li>
    {% for coll in self.gallery_categories %}
    <li><a class="text-uppercase js-filter-contol" data-filter-val="{{ coll.pk }}" href="#{{ coll.pk }}">{{ coll.title }}</a></li>
    {% endfor %}
</ul>   		
{% endif %}