{% load wagtailcore_tags wagtailimages_tags  wtpages_tags %}

{% if self.faqs %}
	<div class="faq-list item-list" role="list">		
	{% for item in self.faqs %}
		<div class="item" role="list-item">	
			<div class="question " role="button" data-toggle="collapse" href="#faq-{{item.pk}}" aria-expanded="false" aria-controls="faq-{{item.pk}}">
		  		{{item.question}}
			</div>
			<div class="answer collapse" id="faq-{{item.pk}}">
			    {{item.answer|richtext}}
			</div>	
		</div>
	{% endfor %}
	</div>	
{% endif %}