{% load wagtailcore_tags wagtailimages_tags  wtpages_tags %}

{% if show_page_header and 'inside' == header_style %}
<div class="container">
	<div class="page-header inside inline-page text-center">
		<div class="title-wrapper">
	   		<h2 class="title">{{ self.title }}</h2>
	    </div>           
	</div>
</div>	
{% endif %}

{% if self.body %}
<section class="themed themed-{{self.theme.id}} team page-layout-whole subpage">
	<div class="container">
		<div class="row">		                    	
           <div class="col-sm-10 col-sm-offset-1 txt text-left">
				<div class="body-text">
			        {{ self.body|richtext }}
				</div>
		</div>
	</div>
</section>	        
{% endif %}

{% for pp in self.team_items.all %}


<section class="themed themed-{{self.theme.id}} team page-layout-left subpage">
	<div class="container">
		<div class="row">
		                    	
           <div class="col-lg-5 col-md-6 img">
               {% image pp.image fill-866x866-c100 as carouselimagedata %}
                <div class="photo" style="background-image: url({{ carouselimagedata.url }})"></div>
           </div>
           <div class="col-lg-7 col-md-6 txt text-left">                    
          		<div class="page-header insidetext">
					<div class="title-wrapper">
		   				<h3 class="title"><span class="tm-title">{{ pp.title }}</span><span class="tm-position">{{ pp.position }}</span></h3>
		    		</div>           
				</div>                                            
                <div class="body-text">                        
                   	{{ pp.body|richtext }}
              	</div>
         </div>
		                
    	</div>
    </div>
</section>

{% endfor %}