{% load wagtailcore_tags wagtailimages_tags  wtpages_tags %}


<div class="iscroller list-wrapper team-thumbnails" data-cols="1" data-circular="true">
        <div class="iscroller-items list hidden">
        {% for pp in self.team_items.all %}
        <div class="iscroller-item list-item" >
        	<div>   
        		{% if self.show_details %}                         
	            <a class="text-center" href="#" data-id="{{ pp.id }}">
	            {% endif %}            
	                {% image pp.image fill-250x250-c100 as carouselimagedata %}
	                <img src="{{ carouselimagedata.url }}" alt="{{ pp.title }}, {{ pp.position }}" />
	                <div class="text-uppercase name">{{ pp.title }}</div>
	                <div class="position">{{ pp.position }}</div>
	            {% if self.show_details %}    			
	            </a>
	            {% endif %}
            </div>
        </div>
        {% endfor %}
            
        </div>
</div>

<div
        id="carousel-{{ self.id }}"
        class="carousel slide team-details"
        data-ride="carousel"
        data-style="{{carousel_style|default:'carousel'}}"
        data-interval="false"
    >
        <div class="carousel-inner" role="listbox">
            {% for pp in self.team_items.all %}
                <div class="themed themed-{{ pp.theme.pk  }} item-{{pp.pk}} item{% if forloop.first %} active{% endif %}">
                	{% comment %}                	
                    <div class="col-lg-5 col-md-6 img">
                        {% image pp.image fill-866x866-c100 as carouselimagedata %}
                        <div class="photo" style="background-image: url({{ carouselimagedata.url }})"></div>
                    </div>
                    {% endcomment %}
                    <div class="txt text-left">                    
                    	<div class="title-wrapper">
							<div class="name">{{ pp.title }}</div>
							<div class="position">{{ pp.position }}</div>
						</div>          
                        <div class="body-text">                        
                        	{{ pp.body|richtext }}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        {% comment %}
        {% if self.team_items.all|length > 1  %}
            <a class="left carousel-control" href="#carousel-{{ self.id }}" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left fa fa-angle-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#carousel-{{ self.id }}" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right fa fa-angle-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
            </a>
        {% endif %}
        {% endcomment %}
</div>