{% load wagtailcore_tags wagtailimages_tags  wtpages_tags %}

{% if show_page_header and 'inside' != header_style %}
<div class="page-header outside inline-page text-center">
	<div class="title-wrapper">
   		<h1 class="title">
   		<div class="corner lt"></div>
		    	<div class="corner rt"></div>
		    	<div class="corner lb"></div>
		    	<div class="corner rb"></div>
   		{{ self.title }}</h1>
    </div>           
</div>
{% endif %}

<section class="themed themed-{{self.theme.id}} team page-layout-whole subpage">
	<div class="container">
	
		{% if show_page_header and 'inside' == header_style %}
		<div class="page-header inside inline-page text-center">
			<div class="title-wrapper">
		   		<h2 class="title">
		   		<div class="corner lt"></div>
		    	<div class="corner rt"></div>
		    	<div class="corner lb"></div>
		    	<div class="corner rb"></div>
		   		{{ self.title }}</h2>
		    </div>           
		</div>	
		{% endif %}

<div class="row">
    <div
        id="carousel-{{ self.id }}"
        class="carousel slide"
        data-ride="carousel"
        data-style="{{carousel_style|default:'carousel'}}"
        data-interval="false"
    >
        <div class="carousel-inner" role="listbox">
            {% for pp in self.team_items.all %}
                <div class="themed themed-{{ pp | to_class_name }}-{{pp.id}} item{% if forloop.first %} active{% endif %}">                	
                    <div class="col-lg-5 col-md-6 img">
                        {% image pp.image fill-866x866-c100 as carouselimagedata %}
                        <div class="photo" style="background-image: url({{ carouselimagedata.url }})"></div>
                    </div>
                    <div class="col-lg-7 col-md-6 txt text-left">                    
                    	<div class="page-header insidetext">
							<div class="title-wrapper">
						   		<h3 class="title"><span class="tm-title">{{ pp.title }}</span><span class="tm-position">{{ pp.position }}</span></h3>
						    </div>           
						</div>                                            
                        <div class="body-text">                        
                        	{{ pp.body|richtext }}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        {% if self.team_items.all|length > 1  %}
            <a class="left carousel-control" href="#carousel-{{ self.id }}" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left fa fa-angle-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#carousel-{{ self.id }}" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right fa fa-angle-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
            </a>
        {% endif %}
    </div>
    </div>
    </div>
</section>
