@import "css/config";

$wt-form-width: 400px !default;
$wt-form-label-align: left !default;
$wt-form-group-label-align: left !default;
$wt-form-control-color: #555 !default;
$wt-form-control-background-color: #fff !default;
$wt-form-control-border: 1px solid #ccc !default;
$wt-form-control-border-radius: 4px !default;
	
@mixin box-shadow($s) {
	-webkit-box-shadow: $s;
	box-shadow: $s;
}

.form-links{
	margin-bottom: 20px;
}

.body-text .body-text{
	padding: 0;
}

.wt-form-control{
	display: block;	
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: $wt-form-control-color;
	background-color: $wt-form-control-background-color;
	background-image: none;
	border: $wt-form-control-border;
	border-radius: $wt-form-control-border-radius;
	@include box-shadow(inset 0 1px 1px rgba(0,0,0,.075));	
	-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;	
}

.wtform{
	width: $wt-form-width;
	max-width: 100%;
	margin: 0 auto;	
	margin-bottom: 30px;
	margin-top: 20px;
	
	label{		
		color: $wt-form-label-color;
		text-align: $wt-form-label-align;
		text-transform: $wt-form-label-text-transform;
		&.form-group-set-label{
			text-align: $wt-form-group-label-align; 
			display: block;
    		padding: 10px 10px 5px 15px;
    		font-size: 120%;
		}
	}

	.required{
		&>div>label:after{
			content: ' *';
			color: $site-color-required;
			font-weight: bold;			 			
		}
	}
	.widget-textinput, .widget-datetimeinput, .widget-numberinput, .widget-emailinput, .widget-dateinput, .widget-ebfileinput, .widget-wtfileinput {
		input{
			@extend .wt-form-control;
			width: 100%;	
		}		 
	}
	.widget-captchatextinput input[type=text]{
		@extend .wt-form-control;
	} 
	select, textarea{
		 @extend .wt-form-control;
		 width: 100%;	
	} 
	.widget-textarea{
		textarea{
			height: 80px;
		}
	}

	.widget-checkboxselectmultiple{
		ul{
			padding-left: 0px;
			li{
				display: block;			
			}
		}
	}

// 	.btn-send{
// 		color: $wt-form-label-color; 
// 	} 		 
}


.modal .wtform{
	width: inherit;
}