@import "css/config";


section.subpage.roomtype2page{
	
	&:not(.subpage-0){
		&:before{
			content: " ";
			display: block;
			margin: 0 auto;
			margin-top: 0px;
			margin-bottom: 20px;
			border-top: 1px solid $site-color-gold;
			width: 540px;
			max-width: 60%;
		} 
	}
	
	&>div{
		border: 1px solid $site-color-gold;
	}
	
	h3, h4{
		font-weight: normal;
		text-transform: uppercase;
	}
	
	h4{
		color: $site-color-gold;
	}
	
	.img .carousel-wrapper {
   		left: 10px;
   		right: 10px;
   		top: 10px;
   		bottom: 10px;
	}
	
	@media screen and (max-width: 767px){
		padding-left: 20px;
		padding-right: 20px;
	}
	
	@media screen and (min-width: 768px){
		.img{
			float: none;
			position: absolute;
			&:after{
				content: none;
			}
			top: 0px;
			bottom: 0px;
			left: 0px;
			right: 0px;
			width: auto;
			
		} 
		
		&>div>.row{
			position: relative;
		}
		.txt{
			width: 400px;
			height: 400px;
			position: relative;
			
			padding: 20px 30px;
			
			.room-text-wrapper{
				position: absolute;			
				top: 20px;
				bottom: 87px;
				left: 30px;
				right: 30px;
				overflow: auto;
				
				h3{
					margin-top: 10px;
				}				
			}
			
			.room-links-wrapper{
				position: absolute;		
				bottom: 20px;
				left: 30px;
				right: 30px;								
			}
		}
		 
		&.odd{
			.txt{
				float: right;
			}
			.img{
				margin-right: 400px;
			}							
		}
		
		&.even{			
			.img{
				margin-left: 400px;
			}							
		}
		
	}
	
}
