{% load wagtailcore_tags wagtailimages_tags wtpages_tags %}

{% if self.venues %}

<div class="iscroller list-wrapper venue-thumbnails" data-item-min-width="287" data-item-max-width="275" data-circular="true"  {% if request.is_phone %}data-rows="1" data-cols="1" {% else %}data-rows="2"  {% endif %} >
     <div class="iscroller-items list hidden">
     {% for item in self.venues %}
     <div class="iscroller-item list-item" >
     	<div>                            
          <a class="text-center" href="{% pageurl item.venue %}">          		            
              {% image item.venue.carousel_items.all.0.image fill-400x400-c100 as carouselimagedata %}
              <img src="{{ carouselimagedata.url }}" alt="{{ item.venue.title }}" />
              <div class="text-uppercase name">{{ item.venue.title }}</div>
          </a>
         </div>
     </div>
     {% endfor %}
     </div>
</div>

	
{% endif %}
