{% load wagtailcore_tags wtpages_tags %}
<div class="container-fluid {% if form.errors %}has-errors{% endif %}">
<div class="row">
	<div class="form-group-set-default">                	
  {% for field in form %}
  	{% if field.field.is_form_group %}
  	</div>
  	<div class="form-group-set clearfix {{ field.field.add_css_class }} num-{{ field.field.num }}">
  		{% if field.field.show_label %}
  			<label class="form-group-set-label">{{ field.field.label }}</label>
  		{% endif %}  		
  	{% else %}
  	<div class="form-group clearfix {{ field.field.add_css_class }} num-{{ field.field.num }} pk-{{ field.field.pk }} {%if field.field.required %}required{% endif %} widget-{{ field.field.widget | to_class_name }} {{ field.view_attr }} {% if field.errors %}has-field-error{% endif %}">
  		  {% if field.field.show_label %}
             <div class="">{{ field.label_tag }}</div>
          {% endif %}
          <div class="">{{ field }}
          {{ field.errors }}
          </div>
  	</div>
  	{% endif %}                    
  {% endfor %}
		</div>
	</div>
</div>
<div class="text-center"><input type="submit" class="btn-send btn btn-primary btn-xl"></div>