<table cellpadding="10" style="border-collapse: collapse; border: 2px solid #ccc; width: 400px; max-width: 100%;">
{% for field in form %}
	{% if field.field.is_form_group %}
		{% if field.field.show_label %}		
			<tr>
		        <th colspan="2" style="padding: 10px; border: 2px solid #ccc; text-align: left;">{{ field.label }}</th>		        
		    </tr>
    	{% endif %}
	{% else %}
   	<tr>
        <th style="padding: 10px; border: 2px solid #ccc; text-align: left;">{{ field.label }}</th>
        <td style="padding: 10px; border: 2px solid #ccc;">{{ field.value }}</td>
    </tr>
    {% endif %}   
{% endfor %}	
</table>