{% extends "standard_section.html" %}

{% block carousel_main %}{% endblock %}
{% block page_navbar %}{% endblock %}
{% block page_content_heading %}{% endblock %}

{% block text %}	
	{% include "wtpromoboxes/include/promo_links.html" with self=self request=request only %}
	
						
   	{% if self.page_content_heading %}
   		<br/>
       <div class="page-header inside text-center">
    	<div class="title-wrapper">
        	<h1 class="title">{{ self.page_content_heading }}</h1>
        </div>
    </div>
    {% endif %}
					    
	
	{{block.super}}					        	
{% endblock %}