{% extends "base.html" %}
{% load static wagtailcore_tags wagtailimages_tags wtpages_tags %}

{% block carousel_main %}
    <section class="slide-big">
      {% carousel show_controls=False carousel_items=self.carousel_items.all fallback_items=self.menus_index.carousel_items.all %}
    </section>    
{% endblock %}

{% block page_header %}
    <div class="page-header outside text-center">
    	<div class="title-wrapper">
        	<h1 class="title">        		
        	<a href="{% pageurl self.menus_index %}">{{ self.menus_index.title }}</a></h1>
        </div>
        {% page_navbar page=self %}        
    </div>
{% endblock %}


{% block content %}
    <section class="menu-wrapper">
    
   
    <div class="container">
    
    
    
    <div class="page-header inside text-center">
    	<div class="title-wrapper">
        	<h2 class="title">
        		<div class="corner lt"></div>
		    	<div class="corner rt"></div>
		    	<div class="corner lb"></div>
		    	<div class="corner rb"></div>
        	{{ self.title }}</h2>
        </div>
    {% if self.related_links.all %}    
      	<div class="text-center menu-pdf"><a href="{{ self.related_links.all.0.link }}">{{ self.related_links.all.0.title }}</a></div>    
  	{% endif %}
    
    </div>
    
                  
      {% if self.body %}<div class="menu-widget">{{ self.body | safe }}</div>{% endif %}
      
      <div class="menu row">	
		{% for cat in self.menu_cats.all %}    
	    <div class="cat dontsplit {% if cat.featured %}featured{% endif %}">
	    	<div class="title-wrapper">
	    		<h2 class="title">{{ cat.title }}</h2>
	    		{% if cat.body %}
	    		<div class="descr">{{ cat.body|richtext }}</div>
	    		{% endif %}
	    	</div>
	       	<div class="items-wrapper {% if cat.two_columns %}columns{% endif %}">
	       		{% for mi in cat.menu_items.all %}
		       	<div class="item dontsplit">
		       		<div class="name">{{ mi.title }} <span class="price">{{ mi.price }}</span></div>
		       		<div class="descr">{{ mi.body|richtext }}</div>
		       	</div>
	       		{% endfor %}
	       	</div>
	    </div>	
	    {% endfor %}
	  </div>
      
      </div>
      
    </section>
{% endblock %}
