{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags wtpages_tags %}

{% block carousel_main %}
<section class="slide-small">
    {% if self.carousel_items.all %}
        {% include "wtpages/includes/carousel.html" with show_controls=True carousel_items=self.carousel_items.all only %}
    {% endif %}
</section>
{% endblock %}

{% block content %}
    <div class="themed-{{ self | to_class_name }}-{{ self.id }}">

        {% if self.body %} {{ self.body|richtext }} {% endif %}


    </div>
{% endblock %}