{% load wagtailcore_tags i18n wagtailimages_tags wagtailembeds_tags wtpages_tags %}

{% if carousel_items %}
	<div class="carousel-wrapper">
    <div
        id="{{ id }}"
        class="carousel slide {{ carousel_class |default:"slideshow" }} {% ifequal carousel_style 'fading' %}fading{% endifequal %}"
        data-ride="carousel"
        data-interval="{{ interval |default:"5000" }}"
    >
        {% if carousel_items|length > 1 and show_controls %}
            <ol class="carousel-indicators">
            {% for carousel_item in carousel_items %}
                <li data-target="#{{ id }}" data-slide-to="{{ forloop.counter0 }}"{% if forloop.first %} class="active"{% endif %}></li>
            {% endfor %}
            </ol>
        {% endif %}

        <div class="carousel-inner" role="listbox">
            {% for carousel_item in carousel_items %}
            {% if carousel_item.visible or ignore_visible %}
            <div class="item{% if forloop.first %} active{% endif %}">
                {% if carousel_item.embed_url %}
                    {# Embedded video - requires an embedly key to be stored in wagtaildemo/settings/local.py #}
                    <div class="text-center">
                        {% embed carousel_item.embed_url 1000 %}
                    </div>
                {% elif carousel_item.image  %}
                    {#% image carousel_item.image original as carouselimagedata %#}

                    {% if image_size == 'half' %}
                        {% image carousel_item.image fill-990x480-c100 as carouselimagedata %}
                    {% elif imagesize == "big_rect" %} 
						{% image carousel_item.image fill-866x866-c100 as carouselimagedata %}					    
                    {% else %}
                        {% if request.is_phone %}
                            {% image carousel_item.image max-1024x1024 as carouselimagedata %}
                        {% else %}
                            {% image carousel_item.image max-1980x1980 as carouselimagedata %}
                        {% endif %}
                    {% endif %}

					<div class="carousel-image" style="background-image:url({{ carouselimagedata.url }})"></div>                    
					{# <img src="{{ carouselimagedata.url }}"  alt="{{ carouselimagedata.alt }}" /> #}
                {% endif %}

                {% if carousel_item.caption or carousel_item.text or carousel_item.link %}
                 <div class="carousel-caption">
                
                	{% if carousel_item.link %}
                    <a target="{{carousel_item.target}}" href="{{ carousel_item.link }}">
                    {% endif %}
                    {% if carousel_item.caption %}
                    <h3>{{ carousel_item.caption|richtext }}</h3>
                    {% endif %}

                    {% if carousel_item.text %}
                    <div class="text">
                    {{ carousel_item.text|richtext }}
                    </div>
                    {% endif %}
                    
                    {% if carousel_item.link %}
                    </a>
                    {% endif %}
                
                </div>
                {% endif %}
            </div>
            {% endif %}
            {% endfor %}
        </div>

        {% if carousel_items|length > 1 and show_controls %}
            <a class="left carousel-control" data-target="#{{ id }}"  href="#{{ id }}" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left fa fa-angle-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" data-target="#{{ id }}"  href="#{{ id }}" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right fa fa-angle-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
            </a>
        {% endif %}

    </div>
    </div>
{% endif %}
