{% load wtpages_tags wagtailcore_tags wagtailimages_tags static %}

{% if social_links %}
<ul class="nav navbar-nav navbar-right navbar-social {{add_class}}">
    {% for soc in social_links %}
    <li class="li-{{soc.socn}}">        
        <a target="_blank" class="{% if soc.image_hover %}has-hover-img{% endif %}{% if soc.image or soc.image_hover %} a-soc-img {{soc.socn}}-img{% else %} {{soc.socn}} {% endif %}" 
            href="{{ soc.link }}" title="">
            {% if soc.fontawesome_icon %}
            <span class="fa-stack fa-lg">
  				<i class="fa fa-circle fa-inverse fa-stack-2x"></i>
  				<i class="fa fa-stack-1x {{ soc.fontawesome_icon }}" aria-hidden="true"></i>
			</span>
                
            {% else %}
	            {% if soc.image %}
	                {% image soc.image fill-30x30-c100 as si %}
	                <img src="{{ si.url }}" class="soc-img" alt="{{ si.alt }}" />
	            {% endif %}
	
	            {% if soc.image_hover %}
	                {% image soc.image_hover fill-30x30-c100 as si %}
	                <img src="{{ si.url }}" class="soc-img-hover" style="display: none;" alt="{{ si.alt }}" />
	            {% endif %}    
            {% endif %}
        </a>
    </li>
    {% endfor %}
</ul>
{% endif %}