{% load wagtailcore_tags wagtailimages_tags  wtpages_tags %}

{% if show_page_header and 'inside' != header_style %}
<div class="page-header outside inline-page text-center">
	<div class="title-wrapper">
   		<h1 class="title"><a href="{% pageurl self.top_page %}#top">{{ self.title }}</a></h1>
    </div>           
</div>
{% endif %}

{% if self.page_heading or self.body or self.form_links.all or self.side_carousel_items.all %}
<section class="themed themed-{{self.theme.id}} page-layout-{{ self.page_layout }} subpage {{subpage_index}}">
	<div class="container">
		{% if show_page_header and 'inside' == header_style and not self.hide_title %}
		<div class="page-header inside inline-page text-center">
			<div class="title-wrapper">
		   		<h2 class="title">{{ self.title }}</h2>
		    </div>           
		</div>
		{% endif %}
		
		{% if show_page_header and self.carousel_items.all %}
		    <div class="img-top">
		    	{% carousel show_controls=False carousel_items=self.carousel_items.all %}		    		        
		    </div>
		{% endif %}
				
		<div class="row">
		    <div class="txt {% if 'whole' == self.page_layout %}col-xs-12{% else %}col-lg-7 col-md-6{% endif %}">
		    	{% if self.page_heading %}
		        <div class="page-header insidetext text-center">
			    	<div class="title-wrapper">
			        	<h3 class="title">
			        		<div class="corner lt"></div>
		    				<div class="corner rt"></div>
		    				<div class="corner lb"></div>
		    				<div class="corner rb"></div>
			        	{{ self.page_heading }}</h3>
			        </div>
			    </div>
			    {% endif %}	        
		        <div class="body-text">
		        {{ self.body|richtext }}
		        
		        <div class="form-links">
		        {% for fr in self.form_links.all %}
	            {% include "wtforms/includes/form.html" with self=fr.form is_popup=fr.is_popup request=request form_link=fr no_image=True only %}
	        	{% endfor %}
	        	</div>
		        
		        </div>	        
		    </div>
		    {% if 'whole' != self.page_layout %}
		    <div class="img col-lg-5 col-md-6">
		    	{% carousel show_controls=False carousel_items=self.side_carousel_items.all imagesize='big_rect' carousel_style=self.side_carousel_style %}	        
		    </div>
		    {% endif %}
	    </div>
	    
	    {% if self.bottom_carousel_items.all %}
		    <div class="img-bottom col-xs-12">
		    	{% carousel show_controls=False carousel_items=self.bottom_carousel_items.all carousel_style=self.bottom_carousel_style %}	        
		    </div>
		{% endif %}
	    
    </div>
</section>
{% endif %}