@import "css/config";

section.subpage.testimonials{
	height: 235px;
    position: relative;
    overflow: hidden;
    margin: 20px 0px;
    .slideshow.carousel{
	     .carousel-inner > .item img{
	        width: 100%;
	        height: auto;
	    }
	    .carousel-caption{
	    	top: 0px;
	    	background-color: #000;
	    	background-color: transparentize($site-color-dark, 0.64);
	    	text-shadow: none;
	    	
	    	line-height: 1.2;
	    	&>.text{
	    		display: table;
	    		width: 100%;
	    		height: 100%;
	    		&>div{
		    		display: table-cell;
		    		vertical-align: middle;
		    		text-align: center;
	    		}
	    	}
	    	
	    	
	    	
	    	.testimonial-text, .testimonial-author{
	    		
	    	} 
	    	
	    	.testimonial-text{
	    		color: $site-color-white;
	    		font-size: 16px;
	    		@media screen and (min-width: 768px){
	    			font-size: 18px;
	    		}
	    		font-weight: normal;
	    	}
	    	.testimonial-author{
	    		color: $site-color-white;
	    		font-size: 14px;
	    		@media screen and (min-width: 768px){
	    			font-size: 16px;
	    		}
	    		font-weight: normal;
	    	}
	    }
    }
    
    &>div, &>.slideshow.carousel{
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0px;
    }
	
}