{% extends "standard_section.html" %}
{% load wagtailcore_tags wagtailimages_tags  wtpages_tags %}

{% block carousel_main %}{% endblock %}
{% block page_navbar %}{% endblock %}


{% block content %}
	<div class="container text-center timeline-inline">
	{% for item in self.items %}
		<div class="row {% cycle 'odd' 'even' %}">
			<div class="col-sm-6 image-wrapper">
				<div class="year">
					<h3>{{ item.year }}</h3>
				</div>
				<div class="image">
					{% if item.image  %}
	                    {% image item.image fill-402x226-c100 as carouselimagedata %}
						<img src="{{ carouselimagedata.url }}"  alt="{{ carouselimagedata.alt }}" />
                	{% endif %}
				</div>
			</div>			
			<div class="col-sm-6 text-wrapper">
				{{ item.text|richtext }}				
			</div>
		</div>
	{% endfor %}
	</div>
	
	{% if self.bottom_carousel_items.all %}
	<div class="container">
	    <div class="row">
		    <div class="img-bottom col-xs-12">
		    	{% carousel show_controls=False carousel_items=self.bottom_carousel_items.all carousel_style=self.bottom_carousel_style %}	        
		    </div>
		</div>    
    </div>
	{% endif %}		    
	
{% endblock %}
