{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags  wtpages_tags %}

{% block carousel_main %}
<section class="themed themed-{{ self.theme.id }} slide-big {{ self.content_type.model }}">
	<div class="carousel-wrapper">
    <div id="carousel-timeline" class="carousel slide slideshow" data-ride="carousel" data-interval="false">
    	{% comment %}
        {% if self.carousel_items.all|length > 1 %}
            <ol class="carousel-indicators">
            {% for carousel_item in self.carousel_items.all %}
                <li data-target="#carousel-timeline" data-slide-to="{{ forloop.counter0 }}"{% if forloop.first %} class="active"{% endif %}></li>
            {% endfor %}
            </ol>
        {% endif %}
        {% endcomment %}

        <div class="carousel-inner" role="listbox">
            {% for carousel_item in self.carousel_items.all %}
            {% if carousel_item.visible %}
            <div class="item{% if forloop.first %} active{% endif %}">
                {% if carousel_item.image  %}
                    {% if request.is_phone %}
                        {% image carousel_item.image max-1024x1024 as carouselimagedata %}
                    {% else %}
                        {% image carousel_item.image max-1980x1980 as carouselimagedata %}
                    {% endif %}                    
					<div class="carousel-image" style="background-image:url({{ carouselimagedata.url }})"></div>                    
					<img class="hidden" src="{{ carouselimagedata.url }}"  alt="{{ carouselimagedata.alt }}" />
                {% endif %}

				 <div class="timeline-caption-wrapper">	
	                 <div class="timeline-caption">
	                 
	                 	<div class="page-header outside">
							{% if carousel_item.caption %}
							<div class="title-wrapper">
						   		<h1 class="title">{{ carousel_item.caption }}</h1>
						    </div>
						    {% endif %}
						</div>
	                    	
	                    {% if carousel_item.text %}
	                    <div class="text">
	                    {{ carousel_item.text|richtext }}
	                    </div>
	                    {% endif %}
	                </div>
	            </div>    
                
            </div>
            {% endif %}
            {% endfor %}
        </div>
        
        {% comment %}

        {% if self.carousel_items.all|length > 1 %}
            <a class="left carousel-control" data-target="#carousel-timeline"  href="#carousel-timeline" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left fa fa-angle-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" data-target="#carousel-timeline"  href="#carousel-timeline" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right fa fa-angle-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
            </a>
        {% endif %}
        
        {% endcomment %}

    </div>
    </div>
    
    </section>
    
    {% if self.carousel_items.all|length > 1 %}
        <section class="time-line-nav">
        	{% comment %}
        	<a href="#" class="carousel-control left">
        		<i class="fa fa-chevron-circle-left" aria-hidden="true"></i>
            	<span class="sr-only">Previous</span>
        	</a>
        	{% endcomment %}
        	<div>
        	<table>
        		<tr>
		        {% for carousel_item in self.odd_items %}
		            <td class="year text-right{% if not carousel_item.num %} active{% endif %}" data-target="#carousel-timeline" data-slide-to="{{ carousel_item.num }}">
		            	<div>{{carousel_item.item.year}}</div>
		            </td>
		            <td class="title{% if not carousel_item.num %} active{% endif %}" data-target="#carousel-timeline" data-slide-to="{{ carousel_item.num }}">
		            	<div>{{carousel_item.item.title}}</div>
		            </td>
		        {% endfor %}
	        		<td></td>
	        	</tr>
	        	<tr>
	        		<td></td>
		        {% for carousel_item in self.even_items %}
		            <td class="year text-right{% if not carousel_item.num %} active{% endif %}" data-target="#carousel-timeline" data-slide-to="{{ carousel_item.num }}">
		            	<div>{{carousel_item.item.year}}</div>
		            </td>
		            <td class="title{% if not carousel_item.num %} active{% endif %}" data-target="#carousel-timeline" data-slide-to="{{ carousel_item.num }}">
		            	<div>{{carousel_item.item.title}}</div>
		            </td>
		        {% endfor %}	        	
	        	</tr>	
        	</table>
        	</div>
        	{% comment %}
        	<a href="#" class="carousel-control right">
        		<i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
            	<span class="sr-only">Next</span>
        	</a>
        	{% endcomment %}
        </section>
    {% endif %}
    

{% endblock %}

{% block section %}{% endblock %}
