{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load wtpages_tags %}

<section class="themed themed-{{ self|to_class_name }}-{{self.id}} container-fluid events {{subpage_index}}">
    <div class="container">
        {% if show_page_header and 'inside' == header_style %}
		<div class="page-header inside inline-page text-center">
			<div class="title-wrapper">
		   		<h2 class="title">{{ self.title }}</h2>
		    </div>           
		</div>
		{% endif %}

        <div class="body-text">{{ self.body|richtext }}</div>

        {% for pp in items.all %}
        <div class="row event">
            {% if pp.image %}
            <div class="col-xs-12 col-sm-4 img">
                {% image pp.image fill-300x200-c100 as carouselimagedata %}
                <img src="{{ carouselimagedata.url }}" style="" alt="{{ carouselimagedata.alt }}" />
            </div>
            <div class="col-xs-12 col-sm-8 text">
            {% else %}
            <div class="col-xs-12 text">
            {% endif %}
                <h3 class="title">{{ pp.title }}{% if pp.event_date %} - {{pp.event_date}}{% endif %}</h3>
                <div class="">{{ pp.body| safe }}</div>
            </div>
        </div>
        {% endfor %}
        
    </div>

</section>
