{% load wagtailcore_tags wagtailimages_tags  wtpages_tags %}

{% if show_page_header and 'inside' != header_style %}
<div class="page-header outside inline-page text-center">
	<div class="title-wrapper">
   		<h1 class="title">{{ self.title }}</h1>
    </div>           
</div>
{% endif %}


<section class="themed themed-{{self.theme.id}} press subpage {{subpage_index}}">
    <div class="container">
    
    	{% if show_page_header and 'inside' == header_style %}
		<div class="page-header inside inline-page text-center">
			<div class="title-wrapper">
		   		<h2 class="title">
		   			<div class="corner lt"></div>
		    		<div class="corner rt"></div>
		    		<div class="corner lb"></div>
		    		<div class="corner rb"></div>
		   		{{ self.title }}</h2>
		    </div>           
		</div>
		{% endif %}

        <div class="body-text">
        {{ self.body|richtext }}
        </div>

        <div class="iscroller list-wrapper" {% if request.is_phone %}data-rows="1" data-cols="1" {% else %}data-rows="3" data-cols="0" {% endif %}>
        <div class="iscroller-items list hidden">
        {% for pp in self.press_items.all %}
            <div class="iscroller-item list-item">
            	<div>
                
                {% if 'youtube.com' in pp.link %}
                <a 
                    data-title="{{ pp.title }}" 
                    href="#"
                    data-iframe="{% youtube_code pp.link %}"
                    data-toggle="modal" 
                    data-target="#formPopup"                    
                >
                {% else %}
                <a target="_blank" {% if pp.link %}href="{{ pp.link }}"{% endif %}>
                {% endif %}
                    {#% image pp.image fill-250x250-c100 as carouselimagedata %#}
                    {#% image pp.image max-250x250 as carouselimagedata %#}
                    {% image pp.image width-250 as carouselimagedata %}
                    <div class="img" style="background-image: url({{carouselimagedata.url}});"></div>
                    <div class="title text-center">{{ pp.title }}</div>
                </a>
                </div>
            </div>
        {% endfor %}
        </div>
        </div>

    </div>

</section>
