{% load wagtailcore_tags wagtailimages_tags wtpages_tags %}

{% if self.packages %}

	{% if self.view_style == 'thumbnails' %}
	<div class="iscroller list-wrapper" data-item-min-width="400" data-item-max-width="500" data-circular="false"  {% if request.is_phone %}data-rows="1" data-cols="1" {% else %}data-rows="1"  {% endif %} >
	    <div class="iscroller-items list hidden">
	        
	        {% for item in self.packages %}
		        <div class="iscroller-item list-item" >
		        	<div>
			            <div class="img">
			              {% if item.package.image %}
			                	{% image item.package.image fill-866x866-c100 as carouselimagedata %}
			                	<img src="{{ carouselimagedata.url }}" alt="{{ carouselimagedata.alt }}" />
			               {% endif %}
			               <div class="vertical-centered">
			               		<div>
			               			<div class="page-header outside">
										<div class="title-wrapper">
									   		<h1 class="title">{{item.package.title}}</h1>
									    </div>								    
									</div>
			               			<div class="text">{{item.package.text|richtext}}</div>		               			
			               		</div>
			               </div> 	
						</div>						            
		            </div>
		        </div>
	        {% endfor %}
	            
	    </div>
	</div>
	{% else %}
	<div id="carousel-{{ self.id }}" class="carousel slide preview" data-ride="carousel" data-interval="false">
	       <div class="carousel-inner" role="listbox">
	           {% for item in self.packages %}
	               <div class="item{% if forloop.first %} active{% endif %}">                	
	                   <div class="col-lg-5 col-md-6 img">
                        	{% image item.package.image fill-866x866-c100 as carouselimagedata %}
	                       <div class="photo" style="background-image: url({{ carouselimagedata.url }})">
	                       		<img class="hidden" src="{{ carouselimagedata.url }}" alt="{{ carouselimagedata.alt }}" />
	                       </div>
	                </div>
	                <div class="col-lg-7 col-md-6 txt text-left">                    
	                	<div class="page-header insidetext">
							<div class="title-wrapper">
						   		<h4 class="title">{{ item.package.title }}</h4>
						    </div>           
						</div>                                            
	                    <div class="body-text">                        
	                    	{{ item.package.text|richtext }}
	                    </div>
	                </div>
	            </div>
	        {% endfor %}
	    </div>
	    {% if self.packages|length > 1  %}
	        <a class="left carousel-control" href="#carousel-{{ self.id }}" role="button" data-slide="prev">
	        <span class="glyphicon glyphicon-chevron-left fa fa-angle-left" aria-hidden="true"></span>
	        <span class="sr-only">Previous</span>
	        </a>
	        <a class="right carousel-control" href="#carousel-{{ self.id }}" role="button" data-slide="next">
	        <span class="glyphicon glyphicon-chevron-right fa fa-angle-right" aria-hidden="true"></span>
	        <span class="sr-only">Next</span>
	        </a>
	    {% endif %}
	</div>
	{% endif %}

{% endif %}
