{% load wagtailcore_tags wagtailimages_tags wtpages_tags %}

{% if self.events %}
	
<div class="iscroller list-wrapper event-thumbnails" data-item-min-width="250" data-item-max-width="275" data-circular="true" data-rows="1">
     <div class="iscroller-items list hidden">
     {% for item in self.events %}
     <div class="iscroller-item list-item" >
     	<div>                            
          <a class="text-center" href="{% pageurl item %}">          		            
              {% image item.thumbnail fill-400x400-c100 as carouselimagedata %}
              <img src="{{ carouselimagedata.url }}" alt="{{ item.title }}" />
              <div class="text-uppercase name">{{ item.title }}</div>
          </a>
         </div>
     </div>
     {% endfor %}
     </div>
</div>	

{% endif %}
