@import "css/config";

.promoboxespage{	
	.iscroller{
		&.image-style-vertical .list-item>div .img:after{
         		padding-top: (1138/866*100%) !important;
        }
        &.image-style-horizontal .list-item>div .img:after{
        	padding-top: (494/866*100%);
        }
        &.image-style-square .list-item>div .img:after{
        	padding-top: 100%;
        }
	
	
	 .list-item{
	
	   h3{
	   	font-size: 21px;
	   }	
         	
	   h3, h4, h5{
	   	font-weight: normal;
	   }         	
	            
	
    	&>div{
    		margin: 5px;
    		//border: 3px solid #ccc;
    		position: relative;
        	overflow: hidden;
        	padding: 0;
        	
        	text-transform: uppercase;
        	
        	
        	&>a{	
				text-decoration: none;
				display: block;
				& *{
					color: $site-color-dark;
					text-align: center !important;
				}
			}
			
			h5.title2{
				color: $site-color-gold;
			}
    		
           	.img{         
	            position: relative;
	            z-index: 9;
	            top:0;
	            bottom:0;
	            left: 0;
	            right:0;
	            background-size: cover;
	            
	            border: 1px solid $site-color-gold;
	            
	            
	            
	            .carousel-image{
	            	top: 10px;
	            	bottom: 10px;
	            	left: 10px;
	            	right: 10px;
	            	background-size: cover;
	            }
	            
	            img{
	            	width: 100%;	            	
	            }
	            
	            .vertical-centered{
	            	@include transition;
	            	opacity: 0;
	            	background-color: transparentize($site-color-white, .17);	            	
	            	&>div{
	            		text-align: center !important;
	            		padding: 25px;
	            		
	            		.rich-text{
	            			font-size: 14px;
	            		}
	            		.rich-text, .rich-text *{
	            			text-align: justify !important;
	            		}
	            		
	            		.page-header.outside{
			
							@media (min-width: 768px) {
								padding: 0;
								padding-bottom: 10px;
							}
							
							.title{
								padding: 5px 0px;
								@media screen and (min-width: 768px){
									font-size: 24px;
								}
								//border-bottom-width: 3px;
								text-align: center;
								@media (min-width: 768px) {
									display: block;									
								}	
							}
						}
	            	}
		            
	            	
	            }
       		}    			
    		
    	}
    	
    	&:focus, &:hover{
    		&>div .img .vertical-centered{
   				opacity: 1;
   			}
   		}
    	
    }
    
	}    
}
