{% extends "standard_section.html" %}
{% load i18n wtpages_tags static wagtailuserbar wagtailcore_tags cache compress wagtailimages_tags menu_tags wtfavtags wtforms_tags %}
{% block before %}
{% spaceless %}


{% get_site_root as site_root %}
{% get_all_static_files as all_static_files %}
{% get_settings as system_settings %}
{% get_reservation_times as tms %}
{% get_contact_page as contact %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
	{% placeFavicon %}
	
	{% load wtpagemeta_tags %}
	{% page_meta self %}
	
    {% compress css %}
        
        <link rel="stylesheet" type="text/x-scss" href="{% static 'sass/_bootstrap.scss' %}">
        <link rel="stylesheet" type="text/css" href="{% static "vendors/animate.css" %}" />

        <link rel="stylesheet" type="text/css" href="{% static "vendors/font-awesome-4.5.0/css/font-awesome.min.css" %}" />
        <link rel="stylesheet" type="text/css" href="{% static "vendors/iscroller-2017-05-22/iscroller.css" %}" />
        <link rel="stylesheet" type="text/css" href="{% static "vendors/datepicker/css/bootstrap-datepicker3.min.css" %}" />
        

        {% comment %}{# Fonts #}
            <link rel="stylesheet" type="text/css" href="{% static "vendors/bootstrap/css/bootstrap.min.css" %}" />

            <link rel="stylesheet" type="text/css" href="{% static "vendors/fonts/caviardreams_bold/stylesheet.css" %}" />
            <link rel="stylesheet" type="text/css" href="{% static "vendors/fonts/caviardreams_regular/stylesheet.css" %}" />
            <link rel="stylesheet" type="text/css" href="{% static "vendors/fonts/ubuntu/stylesheet.css" %}" />
            <link rel="stylesheet" type="text/css" href="{% static "vendors/fonts/ptsans_regular/stylesheet.css" %}" />
            <link rel="stylesheet" type="text/css" href="{% static "vendors/fonts/ptsans_bold/stylesheet.css" %}" />
            <link rel="stylesheet" type="text/css" href="{% static "vendors/fonts/opensans/stylesheet.css" %}" />
        {% endcomment %}
        <link rel="stylesheet" type="text/css" href="{% static "vendors/fonts/opensanscondensed_light/stylesheet.css" %}" />
        <link rel="stylesheet" type="text/css" href="{% static "vendors/fonts/opensanscondensed_bold/stylesheet.css" %}" />
        
        <link rel="stylesheet" type="text/css" href="{% static "vendors/modal_carousel/modal_carousel.css" %}" />
        
        {% for i in all_static_files.css %}
      		<link rel="stylesheet" type="{{ i.t }}" href="{% static i.f %}">             
    	{% endfor %}

        <link rel="stylesheet" type="text/x-scss" href="{% static 'css/site.scss' %}">
        
    {% endcompress %}
    

    {% block extra_css %}
        {# Override this in templates to add extra stylesheets #}
    {% endblock %}
    
    <style>
    {% render_all_themes %}
    </style>

    {% jscode 'head' %}
</head>

<body class="{% block body_class_type %}{{ self.content_type.model }}{% endblock %}
    {% if site_root.id == self.id %}home-page{% endif %}
    {% block body_class %}{% endblock %}
    navbar-{{ system_settings.MAIN_MENU_TYPE }}    
    navbar-affix-{{ system_settings.MAIN_MENU_AFFIX }}
    " >

{% jscode 'doc_beg' %}

{% endspaceless %}

    {% wagtailuserbar %}

	{% block header %}
	<header>
    {% block menu %}{% top_menu parent=site_root calling_page=self %}{% endblock %}
    </header>
    {% endblock %}
    
{% endblock %}    
    
    
{% block after %}
	{% spaceless %}
    {% block footer%}    
    <footer>
    	<div class="container-fluid"><div class="row">

			<div class="footer-address col-md-4">
	    		<div>
	    			<h3>{{ contact.name }}</h3>
	        		{% address %}
	        	</div>
	        </div>
	        
	        {% comment %}
	        <div class="footer-hours">
	    		<div>	    			
	        		{% hours %}
	        	</div>
	        </div>
	        {% endcomment %}
	        
	        <div class="footer-links col-md-4 text-center">
		       	<div>
		      		{% flat_menu 'footer_links' %}	        			        		
		      	</div>
		     </div>
	        
	        
	            	
    		<div class="footer-social col-md-4">
	        	<div>
	        		{% flat_menu 'footer_menu' %}	        		
	        		{% social_icons %}	        		
	        	</div>
	        </div>    	
	    	
        
        </div>
        
        
        	        		
	        <div class="text-center copy">© {% now "Y" as current_year %}{{ current_year }} {{ settings.wtadmin.WtSettings.caption | safe }}            
	        		Website designed by <a href="http://orphmedia.com/">Orphmedia</a></div>
	        
        
        </div>
    </footer>
    {% endblock %}

    {% block to_the_top %}
    {% comment %}
    {% if not request.is_phone %}
        {# glyphicon glyphicon-chevron-up #}
        <!-- a class="to-the-top js-scroll-top fa fa-angle-up" href="#top" title="Up"></a-->
        <!--<a class="to-the-top js-scroll-top" href="#top" title="Up"></a>-->
        <!--<div class="screen-down text-center"><a></a></div>-->
    {% endif %}
    {% endcomment %}
    {% endblock %}


    
    {% block reservation_popup %}
    
    {% comment %}
    
    <div class="modal fade reservation-box" id="reservation-box" tabindex="-1" role="dialog" aria-labelledby="reservation-box">
    <div class="modal-dialog" role="document">
    	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <div class="modal-content">
        <div class="modal-body">
        	<div class="container-fluid">        	
        	<h4 class="modal-title text-center text-uppercase">Online reservations</h4>
        
        {% if settings.wtadmin.WtSettings.reservations_box_text %}
        	<div class="txt">{{ settings.wtadmin.WtSettings.reservations_box_text | safe }}</div>
        {% endif %}	
        	
        
        <form class="form-horizontal"
                target="_blank"
                name="reservation-form"
                id="reservation-form"
                method="get"
                action="http://www.opentable.com/restaurant-search.aspx"
            >
            <div class="row text-left">
                
                <div class="col-xs-12">
                    <label for="startDate"><span>Date:</span></label>
                    <input type="text" class="date-pick form-control" name="startDate" id="startDate" >
                </div>

                <div class="col-xs-12">
                    <label for="ResTime"><span>Time:</span></label>
                        <select class="form-control" name="ResTime" id="ResTime">
                        {% for tm in tms %}
                            <option {% if forloop.counter == 25 %}selected{% endif %} value="{{ tm |time:"H:i A" }}">{{ tm |time:"H:i A" }}</option>
                        {% endfor %}
                        </select>
                    
                </div>

                <div class="col-xs-12">
                    <label for="PartySize"><span>Party Size:</span></label>    
                        
                        <select class="form-control" name="PartySize" id="PartySize">
                            {% with '1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20' as list %}{% for i in list.split %}
                            <option {% if forloop.counter == 2 %}selected{% endif %} value="{{i}}">{{i}}</option>
                            {% endfor %}{% endwith %}
                        </select>
                    
                </div>
            </div>
            <div class="row text-center">
                <button type="submit" class="btn btn-default text-uppercase">Reserve a table</button>
            </div>
			
            <input type="hidden" name="RestaurantID" id="RestaurantID" value="{{contact.open_table_id}}" />
            <input type="hidden" id="RestaurantReferralID" name="RestaurantReferralID" value="{{contact.open_table_id}}" />
            
            <input type="hidden" name="GeoID" value="0" />
            {% now "m/d/Y" as current %}
            <input type="hidden" name="txtHidServerTime" value="{{ current }}" />
            <input type="hidden" name="txtDateFormat" value="MM/dd/yyyy" />
        </form>
        </div>
        </div>
        </div>
    </div>
    </div>
    {% endcomment %}
    {% endblock %}
    

    <div class="modal fade vertical-centered regular-popup" id="formThanks" tabindex="-1" role="dialog" aria-labelledby="formThanksLabel">
        <div class="modal-dialog" role="document">
        	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <div class="modal-content">
                <div class="modal-header modal-header-brand">                    
                    <div class="navbar-brand" data-placement="bottom"></div>
                    <h3 class="modal-title text-center" id="formThanksLabel">&nbsp;</h3>
                </div>
                <div class="modal-body" >

                </div>
            </div>
        </div>
    </div>
    
    <div class="loading-modal">
    	<div class="vertical-centered">
    		<i class="fa fa-circle-o-notch fast-spin fa-3x fa-fw"></i>
			<span class="sr-only">Loading...</span>
		</div>
    </div>

    {% comment %}
        
        <script src="{% static "vendors/lightbox/ekko-lightbox.min.js" %}"></script>
        <script src="{% static "vendors/js/fluidvids.js" %}"></script>
        <script type="text/javascript" src="{% static 'js/site-common.js' %}"></script>
        
        <script src="{% static "js/bootstrap/alert.js" %}"></script>
     	<script src="{% static "js/bootstrap/button.js" %}"></script>
     	<script src="{% static "js/bootstrap/popover.js" %}"></script>
     	<script src="{% static "js/bootstrap/scrollspy.js" %}"></script>
     	<script src="{% static "js/bootstrap/tab.js" %}"></script>
     	<script src="{% static "js/bootstrap/tooltip.js" %}"></script>
        
    {% endcomment %}
    
    {% compress js %}
        <script src="{% static "vendors/js/jquery-1.11.3.min.js" %}"></script>
        
     	<script src="{% static "js/bootstrap/affix.js" %}"></script>
     	
     	<script src="{% static "js/bootstrap/carousel_custom.js" %}"></script>
     	<script src="{% static "js/bootstrap/collapse.js" %}"></script>
     	<script src="{% static "js/bootstrap/dropdown.js" %}"></script>
     	<script src="{% static "js/bootstrap/modal.js" %}"></script>     	
     	<script src="{% static "js/bootstrap/transition.js" %}"></script>      
        
        
        <script src="{% static "vendors/iscroller-2017-05-22/jquery.iscroller.js" %}"></script>
        <script src="{% static "vendors/datepicker/js/bootstrap-datepicker.min.js" %}"></script>        
        <script src="{% static "vendors/js/jquery.cookie.min.js" %}"></script>
        <script src="{% static "vendors/modal_carousel/jquery.modal_carousel.js" %}"></script>
        <script src="{% static "vendors/js/jquery.columnizer.min.js" %}"></script>
        <script src="{% static 'vendors/js/jquery.touchSwipe.js' %}"></script>

		{% for i in all_static_files.js %}
        	<script src="{% static i %}"></script>             
        {% endfor %}
       
        
        <script type="text/javascript" src="{% static 'js/site.js' %}"></script>
    {% endcompress %}
    

    {% block extra_js %}{% endblock %}



<!--
</div>
-->



{% jscode 'doc_end' %}
</body>
</html>
{% endspaceless %}
{% endblock %}	