{% spaceless %}
{% load cache  wagtailcore_tags wagtailimages_tags  wtpages_tags %}

{% get_site_root as site_root %}
{% get_all_static_files as all_static_files %}
{% get_settings as system_settings %}
{% get_reservation_times as tms %}
{% get_contact_page as contact %}
{% endspaceless %}

{% block before %}{% endblock %}

{% block content_wrapper %}

{% spaceless %}
{% block carousel_main %}
	{% if not self.get_parent.subpages_inline and self.carousel_items.all %}		    
	<section class="themed themed-{{ self.theme.id }} slide-big {{ self.content_type.model }}">
		{% carousel show_controls=False carousel_items=self.carousel_items.all %}
	</section>
	{% endif %}	    		            
{% endblock %}

{% if not self.page_layout == 'empty' %}
{% block section %}	
	<section class="themed themed-{{self.theme.id}} show-separator-{{self.show_separator}} page-layout-{{ self.page_layout|default:"whole" }} subpage {{subpage_index}} {{ self.content_type.model }} {% block section_class %}{% endblock %}">
		
		{% block section_before %}{% endblock %}
		
		{% block page_header %}
			{% if self.page_heading %}
			<div class="container page-header-wrapper">
				<div class="page-header outside {% if self.get_parent.specific.subpages_inline %} inlinepage{% endif %} text-center">
					{% block page_heading %}
					{% if self.page_heading %}
					<div class="title-wrapper">
				   		<h1 class="title">{{ self.page_heading }}</h1>
				    </div>
				    {% endif %}
				    {% endblock %}
				    {% block page_navbar %}
				    	{% if self.navbar_items %}
				    		{% page_navbar page=self %}
				    	{% endif %}
				    {% endblock %}           
				</div>
			</div>
			{% endif %}
		{% endblock %}
		
		{% block content %}	
			<div class="container{% if 'whole' != self.page_layout|default:"whole" %} -fluid{% endif %} page-text-wrapper">
				
				{% block top_images %}
					
					{% if self.get_parent.specific.subpages_inline and self.carousel_items.all %}
					    <div class="row">
						    <div class="img-top col-xs-12">
						    	{% carousel show_controls=False carousel_items=self.carousel_items.all carousel_style=self.carousel_style %}	        
						    </div>
						</div>    
					{% endif %}
				{% endblock %}
									
				<div class="row">
				    <div class="txt {% if 'whole' == self.page_layout|default:"whole" %}col-xs-12 text-center{% else %}col-lg-7 col-md-6{% endif %}">
				    	{% block page_content_heading %}
				    	{% if self.page_content_heading %}
				        <div class="page-header inside text-center">
					    	<div class="title-wrapper">
					        	<h1 class="title">{{ self.page_content_heading }}</h1>
					        </div>
					    </div>
					    {% endif %}
					    {% endblock %}	        
				        
				        <div class="body-text text-left">
					        {% block text %}
					        	{{ self.body|richtext }}
					        {% endblock %}
					        
					        {% block raw_html %}
					        	{{ self.raw_html|richtext }}
					        {% endblock %}
				        
					        {% block form_links %}
					        	{% if self.form_links.all %}
						        <div class="form-links">
						        {% for fr in self.form_links.all %}
					            {% include "wtforms/form.html" with self=fr.form is_popup=fr.is_popup request=request form_link=fr no_image=True only %}
					        	{% endfor %}
				        		</div>
				        		{% endif %}
			        		{% endblock %}
			        		
			        		
			        		{% block related_links %}
			        			{% if self.related_links.all %}
							        <div class="related-links text-center">
							        {% for related_link in self.related_links.all %}
							        	<a class="btn btn-primary btn-lg text-uppercase" href="{{ related_link.link }}">{{ related_link.title }}</a>
						        	{% endfor %}
					        		</div>
				        		{% endif %}
			        		{% endblock %}
			        		
			        		{% block text2 %}
			        		
			        		{% endblock %}
			        		
			        		
				        </div>
				        	        
				    </div>
				    {% if 'whole' != self.page_layout|default:"whole" %}
				    <div class="img col-lg-5 col-md-6">
				    	{% carousel show_controls=False carousel_items=self.side_carousel_items.all imagesize='big_rect' carousel_style=self.side_carousel_style %}	        
				    </div>
				    {% endif %}
			    </div>
			    
		    </div>
		    
		    <div class="container">
		    {% block bottom_images %}			    			    
				    {% if self.bottom_carousel_items.all %}
				    <div class="row">
					    <div class="img-bottom col-xs-12">
					    	{% carousel show_controls=False carousel_items=self.bottom_carousel_items.all carousel_style=self.bottom_carousel_style %}	        
					    </div>
					</div>    
					{% endif %}
				{% endblock %}
		    </div>	    
	    {% endblock %}
	    
	</section>
{% endblock %}
{% endif %}

{% block subpages %}
	{% if self.subpages_inline %}
   		{% get_subpages_inline parent=self show_page_header=True header_style='inside' %}
	{% endif %}
{% endblock %}

{% block after %}{% endblock %}
{% endspaceless %}

{% endblock %}