@import "css/config";

.packagelinkspage{
	.iscroller .list-item{
    	&>div{
    		margin: 5px;
    		border: 3px solid #ccc;
    		position: relative;
        	overflow: hidden;
        	padding: 0;
        	&:after{
       			content: " ";
        		display: block;
        		padding-top: 100%;       	
        	}
    		
           	.img{         
	            position: absolute;
	            z-index: 9;
	            top:0;
	            bottom:0;
	            left: 0;
	            right:0;
	            background-size: cover;
	            img{
	            	width: 100%;
	            }
	            
	            .vertical-centered{
	            	@include transition
	            	opacity: 0;
	            	background-color: transparentize($site-color-white, .26);	            	
	            	&>div{
	            		padding: 15px 15px;
	            		
	            		.page-header.outside{
			
							@media (min-width: 768px) {
								padding: 0;
								padding-bottom: 10px;
							}
							
							.title{
								padding: 5px 0px;
								@media screen and (min-width: 768px){
									font-size: 24px;
								}
								border-bottom-width: 3px;
								@media (min-width: 768px) {
									display: block;
									text-align: center;
								}	
							}
						}
	            	}
		            
	            	
	            }
       		}    			
    		
    	}
    	
    	&:focus, &:hover{
    		&>div .img .vertical-centered{
   				opacity: 1;
   			}
   		}
    	
    }
    
    .carousel.preview{
    
	    @media (min-width: 1092px) {
		    margin: {
			   		
			   			right: 50px;
			   		}
	    }   	
   		.carousel-control{
   			background: none;
   			width: 50px !important;   		
   			@media (max-width: 1091px) {
   				top: 20px;   				
   				margin-top: 0;
   			}	
   			@media (min-width: 1092px) {
	   			 
						
				&.left{
					
				}
				&.right{
					right: -50px;
				}
   			}
   		}
    
    
    
    	.page-header.outside{
			
			@media (min-width: 768px) {
				padding: 0;
				padding-bottom: 10px;
			}
			
			.title{
				padding: 5px 0px;
				@media screen and (min-width: 768px){
					font-size: 24px;
				}
				border-bottom-width: 3px;
				@media (min-width: 768px) {
					display: block;
					text-align: center;
				}	
			}
		}
	    
	   		
	   	
	   		
	   	.txt{
	   		padding: 20px;
	   	}
	   
    
	    .img{
			position: relative;
				
		}
		.img:after{
			content: " ";
			display: block;
			padding-top: 100%;
		}	
		.photo{
			background:{
				position: center top;
				repeat: no-repeat;
				size: cover;
			}
			position: absolute;
			left: 0px;
			right: 0px;
			bottom: 0px;
			top: 0px;
		}
    
    }
    
}
