{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block carousel_main %}
    {% include "wtpages/includes/carousel.html" with carousel_items=self.carousel_items.all only %}
{% endblock %}

{% block content %}


    {% if request.GET.tag|length %}
        <h4>Showing posts tagged as {{ request.GET.tag|safe }} <a href=" {% pageurl self %} ">Show all</a></h4>
    {% endif %}

    <div class="list-group announcement announcement-full">
        {% for anews in news %}
            <a class="nb-item " href="{% pageurl anews %}">
              <div class="media">
                <h4 class=""><small>{{ anews.date }}</small></h4>
                {% if anews.image %}
                  <div class="img col-md-3">
                    {% image anews.image fill-270x180-c100 as img %}
                    <img class="media-object" style="width:100%;" src="{{ img.url }}" />
                  </div>
                {% endif %}

                <div class="body col-md-9">
                  <h3 class="">{{ anews.title }}</h3>
                  {% if anews.intro %}
                    <p>{{ anews.intro |richtext }}</p>
                  {% endif %}
                </div>
              </div>
            </a>
        {% empty %}
            No news found
        {% endfor %}
    </div>

    <div class="row">
        <div class="col-sm-4 previous">
            {% if anews.has_previous %}
                <a href="?page={{ anews.previous_page_number }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&amp;{{ key }}={{ value }}{% endifnotequal %}{% endfor %}">Previous</a>
            {% endif %}
        </div>
        <div class="col-sm-4 pages">
            {% if anews.paginator.num_pages > 1 %}
            Page {{ anews.number }} of {{ anews.paginator.num_pages }}
            {% endif %}
        </div>
        <div class="col-sm-4 next">
            {% if anews.has_next %}
                <a href="?page={{ anews.next_page_number }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&amp;{{ key }}={{ value }}{% endifnotequal %}{% endfor %}">Next</a>
            {% endif %}
        </div>
    </div>

    {% include "/related_links.html" with related_links=self.related_links.all only %}
{% endblock %}