{% load wagtailcore_tags wagtailimages_tags  wtpages_tags %}

<div class="themed themed-{{self.theme.id}} container-fluid rooms">
    {% if self.carousel_items.all %}
        <div class="image-header">
        {% include "wtpages/includes/carousel.html" with show_controls=True carousel_items=self.carousel_items.all  %}
        </div>
    {% endif %}
    
    <div class="page-header"><h2 class="">
    		<div class="corner lt"></div>
		   	<div class="corner rt"></div>
		   	<div class="corner lb"></div>
		 	<div class="corner rb"></div>
    {{ self.title }}</h2></div>
    
    <div class="container">
        
        {% if self.body %} {{ self.body|richtext }} {% endif %}

        {% for pp in self.room_items.all %}
            <div class="subpage  themed themed-{{ pp | to_class_name }}-{{pp.id}} room" >
                
                <h2><span>{{ pp.title }}</span></h2>
                {% if pp.image %}
                <div class="img">
                    {% image pp.image fill-1000x300-c100 as carouselimagedata %}
                    <img src="{{ carouselimagedata.url }}" style="width:100%;" alt="{{ carouselimagedata.alt }}" />
                  
                  {% comment %}
                    <a class="overlay vertical-centered {% if forloop.counter != 1 %}collapsed{% endif %}" role="button" data-toggle="collapse" href="#description-{{pp.id}}" aria-expanded="false" aria-controls="description-{{pp.id}}">
                    <div>click here to see/hide description</div>
                    <i class="fa fa-hand-pointer-o" aria-hidden="true"></i>
                    </a>
                  {% endcomment %}
                </div>
                {% endif %}
                <div class="collapse descr in {% if forloop.counter == 1 %}in{% elif not pp.image %}in{% endif %}" id="description-{{pp.id}}">
                    {{ pp.body|richtext }}
                </div>
            </div>
        {% endfor %}
    </div>
</div>
